.navigator{
	float:right;
}
.navigator{
	list-style:none;
	margin:0 15px 0 0;
	padding:0;
}
.navigator li{
	background:url(../images/arrow_white.gif) no-repeat 0 7px;
	padding:0 0 0 20px;
	margin:0 0 0 15px;
	float:left;
}
.navigator li a{
	text-decoration:none;
}
span.currentPage{
	color:#FFF;
	cursor:text;
}
.subNav{
	height:40px;
	float:left;
	margin:0 0 0 0;
	padding:5px 0 0 0;
}
ul.menu{list-style:none;margin:0;padding:0; float:left;}
ul.menu *{margin:0;padding:0}
ul.menu a{
	text-decoration:none;
	color:#fff;
}
ul.menu li{
	position:relative;
	float:left;
	background:url(../images/arrow_white.gif) no-repeat 0 7px;
	padding:0 0 0 20px;
	margin:0 0 0 15px;
}
ul.menu ul{
	position:absolute;
	top:35px;
	left:10px;
	background:#FFF;
	display:none;
	opacity:0;
	list-style:none;
}
ul.menu ul li{
	position:relative;
	width:170px; margin:0; 
	background:#002272;
	padding:0 0 0 5px;
	border:solid 1px #CCC;
	border-top:none;
} 
ul.menu ul li a {
	display:block;
	padding:5px;
	color:#FFF;
}
ul.menu ul li:hover{
	background-color:#006ab0;
}
ul.menu ul li a:hover{
	text-decoration:underline;
}
ul.menu ul ul{left:170px;top:0px}
ul.menu .menulink{
	padding-left:10px; 
	padding-bottom:5px;
	font-weight:bold;
	margin:0px 20px 0px 10px;
	width:100%
}
ul.menu .menulink:hover,ul.menu .menuhover{color:#ffffff;}
