<form action="buat.php?ad_ppa=true" method="post">
<div style="width:900px;">

	<h3 class="headTitle">Tentukan isi Iklan Anda</h3>
	<p>Di bawah ini adalah saran umum untuk isi iklan-iklan Anda untuk produk <strong>{$nama_produk}</strong>.
	<br />Ini adalah text yang diusulkan SITTI yang dapat diganti sesuai keperluan.
	</p>
	
	{section name=idx loop=$variasi}
	<table cellspacing="0" cellpadding="0" border="0" style="margin-top:30px;" class="list zebra">
	<tbody><tr class="oddRow">
	<td>
	<h3 class="blue noMargin">Iklan No. {$smarty.section.idx.iteration} </h3></td></tr>
	<tr class="evenRow">
	<td>
	{if $takeOut}
	<input size="50"  type="text" value="{$judul2_iklan[idx]}" name="judul_iklan[]" /></td></tr>
	<tr class="evenRow">
	<td>
	<input size="50"  name="text_iklan[]" type="text" value="{$text2_iklan[idx]}"/></td></tr>
	{/if}
	<input size="50"  type="text" value="Ini adalah text yang diusulkan SITTI" name="judul_iklan[]" /></td></tr>
	<tr class="evenRow">
	<td>
	<input size="50"  type="text" value="yang dapat diganti sesuai keperluan" name="text_iklan[]" /></td></tr>
	</tbody></table>
	{/section}
	<div style="margin-top:10px">
		<input type="hidden" name="next" value="5" />
		<input type="submit" value="Lanjut" name="simpanKonversi" class="submitButton">
	</div>
	
</div>
</form>
