<script type="text/javascript" src="js/jquery.numberformatter-1.1.0.js"></script>
<script type="text/javascript">
var restricted_word = {$restricted_words};
var n_slots ={if $n_slots}{$n_slots}{else}0{/if};
var MINIMUM_BID = {$MINIMUM_BID};
//skor range 1-100
var skor = 60;
</script>
{literal}
<script language="Javascript">

    function filter_restricted_words(statement, filter) {
        var found = false;
        for (var i = 0; i < filter.length; i++) {
            var pattern = new RegExp("\\b"+filter[i]+"\\b", 'g');
            if (pattern.test($.trim(statement.toLowerCase()))) {
                found = true;
                break;
            }
        }
        return found;
    }

    $(document).ready(function() {
		/*VALIDATE FORM*/
		$("#registerForm").submit(function(){
	       	$("input.budval").each(function(){
	       	     $(this).rules("add", {
	       	      	required: true,
		       	     messages: {
	                     required: "Harus diisi"
	             	}      
	       		});
	       	}); 
	    	$("input.totval").each(function(){
	       	     $(this).rules("add", {
	       	      	required: true,
		       	     messages: {
	                     required: "Harus diisi"
	             	}      
	       		});
	       	});   
		});
		/*SKOR Iklan*/
		var arrow_skor = (186*skor)/100;
		var desc_skor = arrow_skor - 20;
		$("div#arrowSkor").css("left",arrow_skor+"px");
		$("div#descSkor").css("left",desc_skor+"px");
		if (skor <= 30){
			$("div#descSkor").html("Kurang Baik");
		}else if(skor > 30 && skor < 70){
			$("div#descSkor").html("Baik");
		}else{
			$("div#descSkor").html("Sangat Baik");
		}
        
        $('input#nama, input#judul, input#baris1, input#setUrl, input#urlLink').bind('blur',
            function() {
                if(filter_restricted_words($(this).val(), restricted_word)) {
                    alert('Input anda mengandung kata-kata yang dilarang.');
                    $(this).css('border', '1px solid #ff0000');
                    if ($(this).attr('id') == 'urlLink') {
                        $(this).val('http://');
                    } else {
                        $(this).val('');   
                    }
                    $(this).focus();
                } else {
                    $(this).css('border', '1px solid #cccccc');
                    if ($(this).val() != '')
                    {
                        if ($(this).attr('id') == 'judul') {
                            $('#setJudul').html($(this).val());
                        } else if ($(this).attr('id') == 'baris1') {
                            $('#setBaris1').html($(this).val());
                        } else if ($(this).attr('id') == 'setUrl') {
                            $('#setUrl').html($(this).val());
                        }
                    }
                }
            });
    });
    $(document).ready(function(){

  	  $(".apply").click(function(){
  			var diff = $(this).attr('no');
  			if (diff == '1a'){
  				initial_val = $(".bid0").val();
  				col='input.bidAp';cols='.bid';
  			}else if(diff == '1b'){
  				initial_val = $(".budgets0").val();
  				col = 'input.budAp';cols='.budgets';
  				
  			}else if(diff == '1c'){
  				initial_val = $(".totals0").val();
  				col = 'input.totAp';cols='.totals';
  			}
  			
  			$(col).each(function(index){
  				$(cols+index).val(initial_val);
  				updateTotal();
  				});
  		});
  	//$("#listkeyword").html("<span style='text-align:center;'><img src='images/loader.gif'/></span>");
   	//$("#listkeyword").load("beranda.php?selected_keywords=1");
  	 	//alert($("#bid").length());
  	  	updateTotal();
	  	  $(".bidval").blur(function(){
			var no = $(this).attr('no');
			var bid_val = parseInt(600);
			var bid = parseInt($(".bid"+no).val(),10);
			var budget = parseInt($(".budgets"+no).val(),10);
			var total = parseInt($(".totals"+no).val(),10);
			
			$(".bid"+no).val(modulus(bid));
			bid = parseInt($(".bid"+no).val());
			
			if (bid < bid_val){
				alert('Minimal nilai tawaran adalah Rp. 600');				
				$(".bid"+no).val(600);
			}else{
				$(".bid"+no).val(bid);
			}
		 });
	  	
	  	
	  	$(".budval").blur(function(){
			var no = $(this).attr('no');
			var tawaran = parseInt($(".bid"+no).val());
			var budget = parseInt($(".budgets"+no).val(),10);
			
			if(budget < tawaran || budget == "" || budget == null){				
				alert('Anggaran Harian Anda harus lebih besar dari Tawaran Harian Anda.');
				$(".budgets"+no).val(tawaran);
				updateTotal();
			}else if (isNaN(budget) == true) {
				budget = 0;
			}else{
				$(".budgets"+no).val(modulus(budget));
				budget = parseInt($(".budgets"+no).val());
				$(".budgets"+no).val();
				updateTotal();
			}
					
		});
		
	  	$(".totval").blur(function(){
			var no = $(this).attr('no');
			var tawaran = parseInt($(".bid"+no).val());
			var budget = parseInt($(".budgets"+no).val());
			var total = parseInt($(".totals"+no).val(),10);
			if(total < budget || total < tawaran ){
				//$(this).val(0);
				alert('Anggaran Total Anda harus lebih besar dari Anggaran Harian Anda');
				$(".totals"+no).val(budget);
				total = parseInt($(".totals"+no).val());
				updateTotal();
				
			}else if (isNaN(total) == true) {
				budget = 0;
			}else{
				$(".totals"+no).val(modulus(total));
				total = parseInt($(".totals"+no).val());
				$(".totals"+no).val();
				updateTotal();
			}
		});

     });
	 
	 function modulus(mod){
		var modulus = mod%50;
			var bidUtuh = mod-modulus;
			var rround;
			if (modulus >= 25){
				rround = 50;
			}else{
				rround = 0;
			}
			mod = bidUtuh + rround;
			return mod;
	}
    function isNumberKey(evt)
    {
       var charCode = (evt.which) ? evt.which : event.keyCode
       if (charCode > 31 && (charCode < 48 || charCode > 57) && (charCode < 96 || charCode > 105))
          return false;

       return true;
    }
    function deleteKeyword(keyword){
  	//  $("#listkeyword").html("<span style='text-align:center;'><img src='images/loader.gif'/></span>");
  	// $("#listkeyword").load("beranda.php?delete_selected_key=1&k="+escape(keyword));
    }
    function updateTotal(){
  	  var n_total=0;var total;
  	  var n_budget=0;var budget;
  	 	for(var i=0;i<n_slots;i++){
  		 	if ($("#total_"+(i+1)).val() == ""){
				total = 0;
  	  		}else{
				total = modulus($("#total_"+(i+1)).val());
  	  	  	}
  		 	if ($("#budget_"+(i+1)).val() == ""){
				budget = 0;
  	  		}else{
				budget = modulus($("#budget_"+(i+1)).val());
  	  	  	}
  		 	n_total+=parseInt(total,10);
  		 	n_budget+=parseInt(budget,10);
  	 	}
  	 	$("#totaldaily").html(n_budget).format({format:"#,###", locale:"en"});
  	 	$("#totalbudget").html(n_total).format({format:"#,###", locale:"en"});
    }

    function rbPkg_onclick(pilih){
        var copyText="";

        //var urlLanding = "index.php";
        //var landing = window.open('aasdsad'+urlLanding,'Iklan Template');

        if(pilih=='url'){
            copyText+='<div class="row" style="padding:25px 0 15px 0; border:none;"><label style="float:left;">Alamat situs yang ditampilkan</label>';
            copyText+='<input name="urlName" type="text" class="inputText" id="setUrl"  onChange="urlTampil(this.value);"  /></div>';
            copyText+='<div class="row" style="padding:0px 0 10px 0; border:none;"><label style="float:left;">Alamat situs yang sebenarnya</label>';
            copyText+='<input name="urlLink" type="text" class="inputText" id="urlLink" value="http://"/><span class="blue" style="padding:0 0 0 7px; font-size:11px;">(Harus lengkap dengan http://)</span></div>';
        }
        if(pilih=='none'){
            copyText+='';
        }
        if(pilih=='sitti'){
            var campaign = document.getElementById("campaign").value;
            var namaIklan=document.getElementById("nama").value;
            var judulIklan=document.getElementById("judul").value;
            var baris1=document.getElementById("baris1").value;
            var baris2=document.getElementById("baris2").value;
            copyText = "";
            //copyText+="<div style='padding:15px 0'>Untuk mendapatkan hasil yang lebih optimal, Anda dapat menggunakan fasilitas SITTI landing pages kami.<br /><a href='modif_template_petunjuk.php?n="+namaIklan+"&j="+judulIklan+"&b1="+baris1+"&b2="+baris2+"&campaign="+  campaign+"&landing=1'>Klik di sini</a> untuk merancang dan mengaktifkan halaman muka Anda.</div>";
        }
        document.getElementById('element').innerHTML=copyText;
    }

    //

</script>
{/literal}
<h3 class="headTitle">Buat Iklan</h3>
{if $msg}<span class="errorMessage">{$msg}</span>{/if}
<h3>Proses berikut akan membimbing anda membuat iklan baru di SITTI</h3><br /><br />
<form class="registerForm" action="buat.php" method="post" enctype="application/x-www-form-urlencoded">
	{*<input type="hidden" name="ad_type" value="1" />*}
    <h3 class="circleTitle"><span class="circle">1</span><span class="circleText">Kampanye/Program Anda</span></h3>
    	<div class="isiForm">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="addlist zebra">
      <tr class="head">
      	<td colspan="3">
        	<h3 class="subtitleReg">Pilih salah satu Kampanye/Program yang akan dikaitkan dengan iklan yang akan Anda buat.</h3>
        </td>
      </tr>
      <tr>
        <td width="200">Kampanye/Program:</td>
        <td><select name="campaign" class="kategoriIklan" id="campaign" style="float:left;">
            {section name=i loop=$campaign}
            {if $campaign[i].camp_flag eq '0'}
            <option value="{$campaign[i].enc_campaign_id}">{$campaign[i].name}</option>
            {/if}
            {/section}
        </select><a style="margin:-3px 0 0 0;" onmouseover="tooltip.show('Pilih kampanye atau grup iklan Anda. Apabila anda belum mempunyai');" onmouseout="tooltip.hide();"  class="helpIcon">&nbsp;</a>
        <script>
            document.getElementById('campaign').value="{if $campaign_session}{$campaign_session}{else}{$campaign_id}{/if}";
        </script>
        <a class="submitButton" href="beranda.php?buat_campaign=1" style="margin-left:20px;">Buat Kampanye</a>
        </td>       
      </tr>
    </table>
        </div>

	<hr />
                <h3 class="circleTitle"><span class="circle">2</span><span class="circleText">Konfirmasikan Kata Kunci &amp; Anggaran Anda</span></h3>
                <div id="listkeyword" class="isiForm">

 				<table width="650" border="0" cellspacing="0" cellpadding="0" class="list zebra" >
                  <tr class="head">
                    <td width="20">No.</td>
                    <td>Kata Kunci</td>
                    <td>Rata - Rata CPC</td>
                    <td>*Tawaran Anda</td>
                    <td>Anggaran Harian*</td>
                    <td>Anggaran Total*</td>
                    <!--<td width="50">Remove</td> -->
                  </tr>
                  {assign var=num value=0}
                  {section name=i loop=$list}
                  {if $list[i]->keyword}
                  <tr>
                    <td>{$smarty.section.i.iteration}</td>
                    <td>{$list[i]->keyword|trim|stripslashes|strip_tags}</td>
                    <td>{$list[i]->max_cpc|number_format}<input name="cpc[]" type="hidden" value="{$list[i]->max_cpc}"/></td>
                    <td style="width:160px" valign="top">
                    	<div style="position:relative;">
	                    	<input name="keyword[]" type="hidden" value="{$list[i]->keyword|stripslashes|strip_tags|mysql_escape_string}"/>
	                      	<input style="width:100px" name="bid[]" type="text" value="{if $list[i]->bid eq ''}{$MINIMUM_BID}{else}{$list[i]->bid}{/if}" no="{$num}"  class="inputPoint bidval bid{$num} bidAp required" onkeydown="return isNumberKey(event)"/>
	                    	{if $num eq 0}
	                    		<a onmouseover="tooltip.show('Harga yang Anda tawar untuk membeli Kata Kunci');" onmouseout="tooltip.hide();"  class="helpIcon biddingnotif" style="float:none; height: 18px;display:block;position:absolute;right: 0;top: -37px;">&nbsp;</a>
		                    	<a class="apply" no='1a' style="position: absolute; top:4px;right:2px;text-decoration:underline;cursor:pointer;font-size:10px;">Apply All</a>
	                    	{/if}
                    	</div>
                    </td>
                    <td style="width:160px" valign="top">
                    	<div style="position:relative;">
                    	<input style="width:100px" name="budget[]" type="text" value="{$list[i]->budget}" class="inputPoint budval budgets{$num} budAp" no="{$num}" id="budget_{$smarty.section.i.iteration}" onchange="updateTotal();return false;" onkeydown="return isNumberKey(event)"/>
                    	{if $num eq 0}
                    		<a onmouseover="tooltip.show('Nilai maksimal perhari yang ingin Anda keluarkan untuk Kata Kunci ini');" onmouseout="tooltip.hide();"  class="helpIcon budgetnotif" style="float:none; height: 18px;display:block;position:absolute;right: 0;top: -37px;">&nbsp;</a>
		                    <a class="apply" no='1b' style="position: absolute; top:4px;right:2px;text-decoration:underline;cursor:pointer;font-size:10px;">Apply All</a>
	                    {/if}
	                    </div>	
                    </td>
                    <td style="width:160px" valign="top">
                    	<div style="position:relative;">
                    	<input style="width:100px" name="total[]" type="text" value="{$list[i]->total}" class="inputPoint totval totals{$num} totAp" no="{$num}" id="total_{$smarty.section.i.iteration}" onchange="updateTotal();return false;" onkeydown="return isNumberKey(event)"/>
                    	{if $num eq 0}
                    		<a onmouseover="tooltip.show('Nilai maksimal yang ingin Anda keluarkan untuk Kata Kunci ini selama kampanye iklan Anda berlangsung');" onmouseout="tooltip.hide();"  class="helpIcon totalnotif" style="float:none; height: 18px;display:block;position:absolute;right: 0;top: -37px;">&nbsp;</a>
		                    <a class="apply" no='1c' style="position: absolute; top:4px;right:2px;text-decoration:underline;cursor:pointer;font-size:10px;">Apply All</a>
	                    {/if}
	                    </div>
                    </td>
                   <!-- <td><div align="center"><a onmouseover="tooltip.show('Hapus Keyword ini?');" onmouseout="tooltip.hide();"  href="javascript:;" class="remove" onclick="deleteKeyword('{$list[i]->keyword|stripslashes|strip_tags|mysql_escape_string}');">&nbsp;</a></div></td> --> 
                  </tr>
                  {/if}
                  {assign var=num value=$num+1}
                  {/section}
                    <tr>
                    	<td colspan="4">Subtotal</td>
                    	<td><span id="totaldaily" name="totaldaily" style="font-weight:bold;">0</span></td>
                    	<td><span id="totalbudget" name="totalbudget" style="font-weight:bold;">0</span></td>
                    </tr>
                </table>
                <br />
                <p>*Nilai ini dianjurkan oleh SITTI berdasarkan dengan simulasi yang telah Anda masukkan. </p>
                </div>
 
	<hr />
    <h3 class="circleTitle"><span class="circle">3</span><span class="circleText">Isi Iklan Anda</span></h3>
    	<div class="isiForm">
    {*}
    <div style="margin:30px 0 30px 0;">
    	
        <a style="margin: 10px 10px 0pt 0pt; background-color: blue; width: 50px; height: 37px; cursor: pointer; color: white;" class="quote" id="teks">TEKS</a>
        
        <a style="margin: 10px 10px 0pt 0pt; background-color: rgb(229, 239, 244); width: 50px; cursor: pointer; color: rgb(0, 153, 204);" class="quote" id="images">BANNER IMAGE</a>
        <a style="margin: 10px 10px 0pt 0pt; background-color: rgb(229, 239, 244); width: 50px; cursor: pointer; color: rgb(0, 153, 204);" class="quote" id="flash">BANNER FLASH</a>
       
        <script type="text/javascript">
        var ad_type = 0;
        var img_ext = 'jpg';
        {literal} 
          $('#teks').click(function() {
                $("#teks").css({"background-color" : "blue","color" : "white" });
                $("#images").css({"background-color" : "#e5eff4","color" : "#0099CC" });
                $("#flash").css({"background-color" : "#e5eff4","color" : "#0099CC" });
                $(".iklanText").show(500);
                $(".iklanImage").hide(500);
                $(".addImage, .addFlash").empty();
                $(".iklanFlash").hide(500);
                $("input#jenis_iklan").val('text');
            });
           $('#images').click(function() {
                $("#images").css({"background-color" : "blue","color" : "white" });
                $("#teks").css({"background-color" : "#e5eff4","color" : "#0099CC" });
                $("#flash").css({"background-color" : "#e5eff4","color" : "#0099CC" });
                $(".iklanText").hide(500);
                $(".iklanFlash").hide(500);
                $("input#jenis_iklan").val('image');
                ad_type = 2;
                $(".addImage, .addFlash").empty();
                $(".addImage").load('buat.php?show_upload_form=1&jenis_iklan=image');
                $(".iklanImage").show(500);
            });
           $('#flash').click(function() {
                $("#flash").css({"background-color" : "blue","color" : "white" });
                $("#images").css({"background-color" : "#e5eff4","color" : "#0099CC" });
                $("#teks").css({"background-color" : "#e5eff4","color" : "#0099CC" });
                $(".iklanText").hide(500);
                $(".iklanImage").hide(500);
                $("input#jenis_iklan").val('flash');
                ad_type = 3;
                $(".addImage, .addFlash").empty();
                $(".addFlash").load('buat.php?show_upload_form=1&jenis_iklan=flash');
                $(".iklanFlash").show(500);
            });
            $('#img_ext').bind('change', function() {
                img_ext = $(this).val();
            });
        {/literal}  
        </script>
    </div>
	 {/*}
    <script>
    var n_file = 0;
    var ads = [null,
               ['popup300x250',300,250],
               ['popup336x280',336,280],
               ['popup728x90',728,90],
               ['popup160x600',160,600],
               ['popup610x60',610,60],
               ['popup300x160',300,160],
               ['popup940x70',940,70],
               ['popup520x70',520,70],
               ['popup468x60',468,60],
               ['popup250x250',250,250]
               ];
    {literal}
    function upload_notify(o) {
        n_file+=1;
        var f_id = o.f_id;
        var t = o.no;
        if(!isNaN(t)){
            if(ads[t]!=null){
                //generate preview
                var str="";
                if(ad_type==3){
                    str+="<div id='"+ads[t][0]+"' class=\"popupBox\"><div class='banner'><a class=\"popupClose\">x</a>";
                    str+="<div id='b_"+f_id+"'></div>";
                    str+="</div></div>";
                    $("#previews").append(str);
                    $('#b_'+f_id).flash(
                        {
                            // test_flashvars.swf is the flash document
                            swf: uri+f_id+".swf",
                            width: ads[t][1],
                            height: ads[t][2]
                        }
                    );
                }else{
                    str+="<div id='"+ads[t][0]+"' class=\"popupBox\"><div class='banner'><a class=\"popupClose\">x</a>";
                    {/literal}
                    
                    str+="<img src='"+uri+f_id+"."+img_ext+"' width='"+ads[t][1]+"' height='"+ads[t][2]+"'/>";
                    {literal}
                    str+="</div></div>";
                    $("#previews").append(str);
                }
                //alert($("#previews").html());
                //-->
            }
        }
        //alert(t);
         if(isNaN(t)){
             $("#d_"+f_id+"_img").hide();
             $("#d_"+f_id+"_img_menu").show();
         }else{
             $("#d_"+f_id).hide();
             $("#d_"+f_id+"_menu").show();
         }
        //if(n_file==n_total){
        //  $('#frmupload').submit();
        //}
    }
    function toggle_edit(f_id){
        
        $("#"+f_id).show();
        $("#"+f_id+"_menu").hide();
    }
    function toggle_edit_img(f_id){
        
        $("#"+f_id+"").show();
        $("#"+f_id+"_menu").hide();
    }
    function do_submit(){
        if(n_file>=1){
            $('#frmupload').submit();
        }else{
            alert("Anda wajib mengupload materi iklan terlebih dahulu.");
        }
    }
    {/literal}
    </script>
    <input type="hidden" name="jenis_iklan" id="jenis_iklan" value="text">
    <div style="display: block;" class="iklanText">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="addlist zebra">
        <tbody><tr class="head oddRow oddRow">
            <td colspan="2">
                <h3 class="subtitleReg">Silahkan mengisi informasi iklan yang akan tampil di SITTI. <br>
                Cobalah menggunakan bahasa yang singkat, tepat dan sesuai dengan kata-kata kunci yang telah Anda pilih</h3>
            </td>
        </tr>
        <tr class=" evenRow evenRow">
            <td width="200">Nama Iklan</td>
            <td><input type="text" maxlength="60" style="float: left; width: 170px;" id="nama" class="inputText" name="nama_iklan_text" value="{$nama_iklan|stripslashes|strip_tags}"><a class="helpIcon" style="margin: 4px 0 0;" onmouseout="tooltip.hide();" onmouseover="tooltip.show('Beri nama iklan Anda agar mudah dikenali');">&nbsp;</a></td>
        </tr>
        <tr class=" oddRow oddRow">
            <td>Judul Iklan</td>
            <td><input type="text" maxlength="30" onchange="judulIklan(this.value);" style="float: left; width: 170px;" id="judul" class="inputText" name="judul_iklan_text" value="{$judul_iklan|stripslashes|strip_tags}" onKeyDown="limitText(this.form.judul_iklan_text,this.form.cdJudul,30);" onKeyUp="limitText(this.form.judul_iklan_text,this.form.cdJudul,30);"><a style="margin: 4px 0 0;" class="helpIcon" onmouseout="tooltip.hide();" onmouseover="tooltip.show('&lt;img src=images/thumb_iklan.gif&gt;');">&nbsp;</a><span style="padding:0 0 0 7px; font-size:11px;margin: 3px 0 0;float:left;" class="blue"><input readonly type="text" name="cdJudul" size="3" value="30" style="border:none;background:none;font-size:12px;width:18px;">karakter yang tersisa.</span> </td>
        </tr>
        <tr class=" evenRow evenRow">
            <td>Isi Iklan</td>
            <td> <input type="text" style="float: left; width: 170px;" maxlength="60" onchange="barisPertama(this.value);" id="baris1" class="inputText" name="baris1" value="{$baris1|stripslashes|strip_tags}" onKeyDown="limitText(this.form.baris1,this.form.cdIsi,60);" onKeyUp="limitText(this.form.baris1,this.form.cdIsi,60);"><a style="margin: 4px 0 0;" class="helpIcon" onmouseout="tooltip.hide();" onmouseover="tooltip.show('&lt;img src=images/thumb_iklan.gif&gt;');">&nbsp;</a><span style="padding:0 0 0 7px; font-size:11px;margin: 3px 0 0;float:left;" class="blue"><input readonly type="text" name="cdIsi" size="3" value="60" style="border:none;background:none;font-size:12px;width:18px;">karakter yang tersisa.</span>       
            </td>
        </tr>
        <tr class=" oddRow oddRow">
            <td colspan="2">
                <h3 class="subtitleReg" style="float:left;">Contoh Tampilan Iklan Anda</h3>
                {*}
                <h3 class="subtitleReg" style="float:right;margin: 0 165px 0 0;">Skor Iklan</h3>
                {/*}
            </td>
        </tr>
        <tr class=" evenRow evenRow">
            <td colspan="2">
                <div style="margin:0;float:left;" class="sampleIklan">
                <a id="setJudulURL" href="#" target="_blank"><h1 id="setJudul" class="titleAdv">{if $judul_iklan}{$judul_iklan|stripslashes|strip_tags}{else}Iklan Sitti Anda{/if}</h1></a>
                <a id="setContentURL" href="#" target="_blank" style="text-decoration:none;"><p id="setBaris1" style="clear:both;margin:0;">{if $baris1}{$baris1|stripslashes|strip_tags}{else}Text Iklan Baris Pertama{/if}</p></a>
                <!--<p style="clear:both; margin:0;" id="setBaris2">Text Iklan Baris Kedua</p>-->
                
                <a href="#" id="setUrl" class="urlAdv" target="_blank">{if $urlName}{$urlName|stripslashes|strip_tags}{else}www.sittibelajar.com{/if}</a> <a href="#" class="adsby">ads by SITTI</a> 
                </div>
                {*}
                <div style="float:right; margin: 2px 17px 0 0; position:relative;">
                	<div class="gradient round7" style="display:block;width:200px;height:15px;"></div>
                	<div id="arrowSkor" class="arrow-up" style="position:absolute;top:15px;left:0;"></div>
                	<div id="descSkor" class="round7" style="border: 1px solid #CCCCCC;left: -20px;padding: 1px 5px;position: absolute;text-align: center;top: 27px;width: 40px;">Kurang Baik</div>
                </div>
                {/*}
            </td>
        </tr>
        </tbody>
        </table>
        </div>

        <div style="display: none;" class="iklanImage">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="addlist zebra">
        <tbody><tr class="head oddRow oddRow">
            <td colspan="2">
                <h3 class="subtitleReg">Silahkan mengisi informasi iklan yang akan tampil di SITTI. <br>
                Cobalah menggunakan bahasa yang singkat, tepat dan sesuai dengan kata-kata kunci yang telah Anda pilih</h3>
            </td>
        </tr>
        <tr class=" evenRow evenRow">
            <td width="200">Nama Iklan</td>
            <td><input type="text" maxlength="50" style="float: left; width: 170px;" id="nama" class="inputText" name="nama_iklan_image"><a class="helpIcon" onmouseout="tooltip.hide();" onmouseover="tooltip.show('Beri nama iklan Anda agar mudah dikenali');">&nbsp;</a></td>
        </tr>
        <tr class=" oddRow oddRow">
            <td>Judul Iklan</td>
            <td><input type="text" maxlength="30"  style="float: left; width: 170px;" id="judul" class="inputText" name="judul_iklan_image"><a class="helpIcon" onmouseout="tooltip.hide();" onmouseover="tooltip.show('&lt;img src=images/thumb_iklan.gif&gt;');">&nbsp;</a></td>
        </tr>
        <tr class="evenRow">
            <td>Jenis Gambar</td>
            <td>
                <select name="image_ext" id="img_ext">
                  <option value="jpg">jpg</option>
                  <option value="gif">gif</option>
                </select>
            </td>
        </tr>
        <tr class="oddRow">
            <td colspan="2">
                <div class="addImage">
                    {*<h3>add image sample</h3>
                    <input type="file" name="file1">*}
                </div>
            </td>
        </tr>
        </tbody>
        </table>
        </div>

        <div style="display: none;" class="iklanFlash">
            <table width="100%" cellspacing="0" cellpadding="0" border="0" class="addlist zebra">
        <tbody><tr class="head oddRow oddRow">
            <td colspan="2">
                <h3 class="subtitleReg">Silahkan mengisi informasi iklan yang akan tampil di SITTI. <br>
                Cobalah menggunakan bahasa yang singkat, tepat dan sesuai dengan kata-kata kunci yang telah Anda pilih</h3>
            </td>
        </tr>
        <tr class=" evenRow evenRow">
            <td width="200">Nama Iklan</td>
            <td><input type="text" maxlength="50" style="float: left; width: 170px;" id="nama" class="inputText" name="nama_iklan_flash"><a class="helpIcon" onmouseout="tooltip.hide();" onmouseover="tooltip.show('Beri nama iklan Anda agar mudah dikenali');">&nbsp;</a></td>
        </tr>
        <tr class=" oddRow oddRow">
            <td>Judul Iklan</td>
            <td><input type="text" maxlength="30" onchange="judulIklan(this.value);" style="float: left; width: 170px;" id="judul" class="inputText" name="judul_iklan_flash"><a class="helpIcon" onmouseout="tooltip.hide();" onmouseover="tooltip.show('&lt;img src=images/thumb_iklan.gif&gt;');">&nbsp;</a></td>
        </tr>
        <tr class=" evenRow evenRow">
            <td colspan="2">
                <div class="addFlash">
                    {*<h3>add Flash sample</h3>
                    <input type="file" name="file1">*}
                </div>
            </td>
        </tr>
        </tbody>
        </table>
        </div>

    <!--table width="100%" border="0" cellspacing="0" cellpadding="0" class="addlist zebra">
    	<tr class="head">
        	<td colspan="2">
            	<h3 class="subtitleReg">Silahkan mengisi informasi iklan yang akan tampil di SITTI. <br />
				Cobalah menggunakan bahasa yang singkat, tepat dan sesuai dengan kata-kata kunci yang telah Anda pilih</h3>
            </td>
        </tr>
        <tr>
        	<td width="200">Nama Iklan</td>
            <td><input name="nama" type="text" class="inputText" id="nama" value="{$nama_iklan|stripslashes}" style="float:left; width:170px;" maxlength="50" /><a onmouseover="tooltip.show('Beri nama iklan Anda agar mudah dikenali');" onmouseout="tooltip.hide();"  class="helpIcon">&nbsp;</a></td>
        </tr>
        <tr>
        	<td>Judul Iklan</td>
            <td><input name="judul" type="text" class="inputText" id="judul"  style="float:left; width:170px;"  value="{$judul_iklan|stripslashes}" maxlength="30"/><a onmouseover="tooltip.show('<img src=images/thumb_iklan.gif>');" onmouseout="tooltip.hide();"  class="helpIcon">&nbsp;</a></td>
        </tr>
        <tr>
        	<td>Isi Iklan</td>
            <td> <input name="baris1" type="text" class="inputText" id="baris1" value="{$baris1|stripslashes}"  maxlength="60" style="float:left; width:170px;"/><a onmouseover="tooltip.show('<img src=images/thumb_iklan.gif>');" onmouseout="tooltip.hide();"  class="helpIcon">&nbsp;</a><span class="blue" style="padding:0 0 0 7px; font-size:11px;">maksimum 60 karakter</span>		
            </td>
        </tr>
        <tr>
        	<td colspan="2">
            	<h3 class="subtitleReg">Contoh Tampilan Iklan Anda</h3>
            </td>
        </tr>
        <tr>
        	<td colspan="2">
                <div class="sampleIklan" style="margin:0;">
                <h1 class="titleAdv" id="setJudul">{if $judul_iklan}{$judul_iklan|stripslashes}{else}Iklan Sitti Anda{/if}</h1>
                <p style="clear:both;margin:0;" id="setBaris1">{if $baris1}{$baris1|stripslashes}{else}Text Iklan Baris Pertama{/if}</p>
                {*<p style="clear:both; margin:0;" id="setBaris2">Text Iklan Baris Kedua</p>*}
                
                <a class="urlAdv" id="setUrl" href="#">{if $urlName}{$urlName|stripslashes|htmlentities}{else}www.sittibelajar.com{/if}</a> <a class="adsby" href="#">ads by SITTI</a> 
                </div>
            </td>
        </tr>
    </table-->
    	</div>
	<hr />
       	<h3 class="circleTitle"><span class="circle">4</span><span class="circleText">Tujuan Iklan Anda</span></h3>
 			<div class="isiForm"> 
          	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="addlist zebra">
    			<tr>
        			<td>
                        <input name="target_web" type="radio" value="url" onclick="return rbPkg_onclick(this.value)" style="float:left; margin:4px 10px 0 0" {if $landing_selected} {else} checked="checked" {/if}>  
                  	</td>
                    <td colspan="2">
                    	 <span style="float:left;">Situs Anda</span><a style="margin:-3px 0 0 0;" onmouseover="tooltip.show('Arahkan iklan SITTI langsung ke situs Anda');" onmouseout="tooltip.hide();"  class="helpIcon">&nbsp;</a>
                    </td>
                 </tr>
                 {if $landing_selected eq '1'}

                {else}
				<tr>
                	<td></td>
                	<td>
                    	Alamat situs yang ditampilkan
                    </td>
                    <td>
                    	<input name="urlName" type="text" class="inputText" id="setUrl" maxlength="30" value="{$urlName|stripslashes|strip_tags}" onKeyDown="limitText(this.form.urlName,this.form.cdURL,30);" onKeyUp="limitText(this.form.urlName,this.form.cdURL,30);" style="float:left;"/>
                    	<span style="padding:0 0 0 7px; font-size:11px;margin: 3px 0 0;float:left;" class="blue"><input readonly type="text" name="cdURL" size="3" value="30" style="border:none;background:none;font-size:12px;width:18px;">karakter yang tersisa.</span>
                    </td>
                 </tr>
                 <tr>
                 	<td></td>
                	<td>
                    	Alamat situs yang sebenarnya
                    </td>
                    <td>
                    <input name="urlLink" type="text" onchange="linkAsli(this.value)" class="inputText" id="urlLink" value="{if $urlLink}{$urlLink|stripslashes|strip_tags}{else}http://{/if}"/><span class="blue" style="padding:0 0 0 7px; font-size:11px;">(Harus lengkap dengan http://)</span>
					</td>
                 </td>
                {/if}
<!--                 <tr>
                     <td> 
                     	<input name="target_web" type="radio" value="sitti" onClick="return rbPkg_onclick(this.value)" style="float:left; margin:4px 10px 0 0" {if $landing_selected} checked {/if}>
                     </td>
                     <td colspan="2">
                     <span style="float:left;">Situs SITTI</span><a style="margin:-3px 0 0 0;" onmouseover="tooltip.show('Apabila Anda tidak mempunyai website atau ingin mendapatkan hasil yang lebih optimal, Anda dapat membuat halaman utama sendiri dengan SITTI');" onmouseout="tooltip.hide();"  class="helpIcon">&nbsp;</a>
                     </td>
                  </tr>-->
             </table>   
         </div>
         <hr />
         <h3 class="circleTitle"><span class="circle">5</span><span class="circleText">Kategori Iklan Anda</span></h3>
         <div class="isiForm"> 
         <table width="100%" border="0" cellspacing="0" cellpadding="0" class="addlist zebra">
    			<tr class="head">
        			<td colspan="2">
                  	  <h3 class="subtitleReg">Kategori yang tepat akan mempermudah SITTI mencocokkan iklan Anda dengan publisher</h3>
                    </td>
                </tr>
                <tr>
                	<td>
                    	<select name="category" class="kategoriIklan" id="category">
                        {section name=i loop=$adCategory}
                        <option value="{$adCategory[i].id}">{$adCategory[i].categoryName}</option>
                        {/section}
                	    </select>
                	     <script>
            				document.getElementById('category').value="{$category}";
            			</script>
                    </td>
                </tr>
		</table>
        </div>
         <hr />
         <h3 class="circleTitle"><span class="circle">6</span><span class="circleText">Target Pasar Iklan Anda</span></h3>
         <div class="isiForm"> 
         <table width="100%" border="0" cellspacing="0" cellpadding="0" class="addlist zebra">
    			<tr class="head">
        			<td colspan="6">
                  	  <h3 class="subtitleReg">Target pasar yang tepat akan mempermudah SITTI mencocokkan iklan Anda dengan publisher</h3>
                    </td>
                </tr>
                <tr>
                	<td colspan="6">
                    <select class="kategoriIklan" name="target_market" id="target_market">
                        {section name=i loop=$adGenre}
                        <option value="{$adGenre[i].id}">{$adGenre[i].categoryName|ucwords}</option>
                        {/section}
                    </select>
                    <script>
            	document.getElementById('target_market').value="{$target_market}";
            </script>
                    </td>
                </tr>
                <tr>
                	<td colspan="6"><h3 class="subtitleReg">Tentukan kota atau dearah yang ingin Anda tuju (Geo Targeting)</h3>
                    </td>
                </tr>
                <tr>
                	<td colspan="6">
                    	<input id="allcity" name="allcity" type="checkbox" class="pilihKota" value="1" onchange="toggleAllCity();return false;" {if $allcity eq '1'}checked="true"{/if}/><span class="kotaTujuan">Seluruh Kota</span>
                    </td>
                </tr>
                <tr>
                	<td>
                    	<input id="tcity[]" name="tcity[]" value="MEDAN" type="checkbox" class="pilihKota" onchange="uncheckedAll();return false;" {$MEDAN}/><span class="kotaTujuan">Medan</span>
                    </td>
                	<td>
                    	<input id="tcity[]" name="tcity[]" value="JABODETABEKBAN" type="checkbox" class="pilihKota" onchange="uncheckedAll();return false;" {$JABODETABEKBAN}/><span class="kotaTujuan">Jabotabek & Bandung</span>
                    </td>
                	<td>
                    	<input id="tcity[]" name="tcity[]" value="YOGYAKARTA" type="checkbox" class="pilihKota" onchange="uncheckedAll();return false;" {$YOGYAKARTA}/><span class="kotaTujuan">Yogyakarta</span>
                    </td>
                	<td>
                    	<input id="tcity[]" name="tcity[]" value="BALI" type="checkbox" class="pilihKota" onchange="uncheckedAll();return false;" {$BALI}/><span class="kotaTujuan">Bali</span>
                    </td>
                	<td>
                    	<input id="tcity[]" name="tcity[]" value="UJUNG PANDANG" type="checkbox" class="pilihKota" onchange="uncheckedAll();return false;" {$UJUNG_PANDANG}/><span class="kotaTujuan">Ujung Pandang/Makasar</span>
                    </td>
                </tr>
		</table>
        </div>
		<hr />
        <div class="row">
        <input name="token" type="hidden" value="{token}">
             {if $done}
        
        <input type="submit" value="Konfirmasi Iklan Anda" class="submitButton" />
        {else}
        <a href="buat.php?edit=1{if $campaign_id}&c_id={$campaign_id}{/if}" class="submitButton">Kembali</a>
		<input type="hidden" name="c_id" value="{$campaign_id}"/>
        <input type="submit" value="Lanjut" class="submitButton" style="float:right"/>
        {/if}
        </div>
         {if $done}
    <input name="do" type="hidden" value="update_detail">
    {else}
    <input name="do" type="hidden" value="confirm">
    {/if}
</form>
<div id="previews"></div>
<div id="backgroundPopup"></div>
	                
                {literal}
                	<script type="text/javascript">               	
					function linkAsli(url){
						$("#setJudulURL").attr("href",url);
						$("#setContentURL").attr("href",url);
						$("#setUrl").attr("href",url);
						}
					function judulIklan(judul){ //membuat header (judul utama)
						document.getElementById("setJudul").innerHTML = judul;
						//alert(titlePage);
					}
					function barisPertama(baris1){ //membuat header (judul utama)
						document.getElementById("setBaris1").innerHTML = baris1;
						//alert(titlePage);
					}
					function barisKedua(baris2){ //membuat header (judul utama)
						document.getElementById("setBaris2").innerHTML = baris2;
						//alert(titlePage);
					}
					function urlTampil(urlName){ //membuat header (judul utama)
						document.getElementById("setUrl").innerHTML = urlName;
						//alert(titlePage);
					}
					function uncheckedAll(){
						$('#allcity').attr("checked","");
					}
					function toggleAllCity(){
						$.each($("input[name='tcity[]']:checked"), function() {
								$(this).attr('checked',false);
							});
															
					}
					function limitText(limitField, limitCount, limitNum) {
						if (limitField.value.length > limitNum) {
							limitField.value = limitField.value.substring(0, limitNum);
						} else {
							limitCount.value = limitNum - limitField.value.length;
						}
					}
					</script>
                {/literal}

<div style="margin:10px 0; background-color:#e5eff4;" class="quote">
                <strong><span style="color:#C00">PERINGATAN: Penggunaan iklan SITTI tidak boleh melanggar persyaratan dan peraturan hukum yang<br/>berlaku umum di Indonesia atau negara lain yang bersangkutan. Untuk lebih jelas lihat <a target="_blank" href="term.html" style="color:#C00; text-decoration:underline;"><span >Syarat dan Ketentuan</span></a></span></strong>
 					</div>
                