{literal}
<style type="text/css">
html {
    color: #343434;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 18px;
}
</style>
{/literal}
<html>
<p><img src="images/paypal.jpg" />
<ol>
        <li>Pilih metode pembayaran PayPal</li>
        <li>Masukkan jumlah<strong> Top Up (minimal 20 US$)</strong>, kemudian klik tombol <strong>"Lanjut"</strong></li>
        <li>Tunggu hingga proses redirect ke PayPal selesai</li>
        <li>Klik <strong>"Have a PayPal account?"</strong> kemudian isi Email & Password untuk login</li>
        <li>Centang check box konfirmasi, kemudian klik tombol <strong>"Agree and Continue"</strong></li>
        <li>Pada halaman Review Information, klik<strong> "Pay Now"</strong></li>
        <li>Klik link<strong> "Return to PT.SITTI" </strong>(untuk menyelesaikan transaksi Top Up anda, lakukan langkah ini)</li>
        <li>Tunggu hingga proses redirect ke akun SITTI selesai (sekitar 10 detik)</li>
        <li>Muncul notifikasi bahwa anda telah sukses melakukan Top Up PayPal.</li>
        <li>Apabila Top Up Anda bermasalah silahkan kirim email ke <a href="mailto:billing@sitti.co.id">billing@sitti.co.id</a>. dengan mencantumkan kode transaksi Anda.</li>
</li>
</ol>
</html>