{literal}
<style type="text/css">
html {
    color: #343434;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 18px;
}
</style>
{/literal}
<html>
<h2 class="blue">SMS Banking Mandiri</h2>   
<p><img src="images/bank_sms_mandiri.jpg" />
<ol>
        <li>Klik tombol "Top Up" di bawah;</li>
        <li>Pilih metode pembayaran SMS Banking Mandiri;</li>
        <li>Isi field yang diperlukan, yaitu jumlah TOP UP dan nomor hanphone;</li>
        <li>Selanjutnya, ikutilah petunjuk yang Anda dapatkan dari handphone untuk menyelesaikan proses top up.;</li>
        <li>Apabila top-up Anda bermasalah silahkan kirim email ke <a href="mailto:billing@sitti.co.id">billing@sitti.co.id</a> dengan mencantumkan kode transaksi Anda.</li>
</ol>
</html>