{literal}
<style type="text/css">
html {
    color: #343434;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 18px;
}
</style>
{/literal}
<html>
<h2 class="blue">Klik BCA</h2>
<p><img src="images/bank_klik_bca.jpg" />
<ol>
        <li>Klik tombol &quot;Top Up&quot; di bawah;</li>
        <li>Pilih metode pembayaran KlikBCA;</li>
        <li>Isi field yang diperlukan, yaitu jumlah TOP UP dan ID KlikBCA;</li>
        <li>Login di website KlikBCA;</li>
        <li>Masuk ke menu "Pembayaran e-Commerce" lalu pilih kategori "Lain-lain" dan kemudian pilih "Indomog";</li>
        <li>Konfirmasi transaksi top up SITTI yang tadi anda lakukan;</li>
        <li>Anda akan mendapatkan SMS atau email konfirmasi dari KlikBCA;</li>
        <li>Saldo akan muncul di akun Anda;</li>
        <li>Jika belum melakukan langkah konfirmasi ini selama 60 menit ke website klikBCA, maka permintaan TOP UP dari website SITTI   akan dibatalkan;</li>
        <li>Apabila top-up Anda bermasalah silahkan kirim email ke <a href="mailto:billing@sitti.co.id">billing@sitti.co.id</a> dengan mencantumkan kode transaksi Anda.</li>
</ol>
</html>