{if $msg}
<script>alert('{$msg}');</script>
{/if}
<div style="position:relative;">
<h3 class="headTitle">Beranda Anda</h3>
<h1 class="f20 blue">Selamat bergabung di SITTI</h1>
<p style=" margin-bottom:0;">Platform iklan kontekstual berbahasa Indonesia. Tempat dimana Anda bisa beriklan dengan <br />
  berapapun anggaran yang Anda miliki. Mulailah beriklan dengan <b>3 langkah mudah </b>:</p>
 <table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
    	<h3 class="circleTitle" id="mt40"><span class="circle">1</span><span class="circleText">Buat Kampanye Iklan</span></h3>
        <a href="beranda.php?buat_campaign=1"><img src="images/ss1.jpg" style="float:left; margin:0 10px 10px 0" border="0" /></a>
        <div class="berandaInfo">
          <p style="margin:0 0 0 0">Kampanye iklan adalah sekumpulan iklan yang tergabung dalam suatu tema atau program, sesuai dengan produk atau jasa Anda. Kampanye iklan akan mempermudah untuk mengorganisir iklan-iklan Anda.</p>
          <p><b>Anda dapat memisah-misahkan iklan Anda dalam kampanye iklan yang berbeda seperti apabila:</b></p>
          <ul class="quote">
            <li>Anda ingin mengiklankan beberapa bisnis yang berbeda</li>
            <li> Anda ingin mengiklankan beberapa produk yang berbeda</li>
            <li>Anda ingin mengiklankan beberapa kegiatan promo yang berbeda</li>
          </ul>
          <p><a class="submitButton" href="beranda.php?buat_campaign=1">Buat Kampanye/Program</a></p>
          <p class="tips"><i>Tips: Beri nama kampanye yang mudah diingat, relevan dengan iklan-iklan yang ada didalamnya, sehingga akan mudah untuk dibandingkan.</i></p>
        </div>
    </td>
  </tr>
  <tr>
    <td>
    <h3 class="circleTitle" id="mt40"><span class="circle">2</span><span class="circleText">Buat Iklan Produk atau Jasa Anda</span></h3>
    <a  href="beranda.php?buat_iklan=1"><img src="images/ss2.jpg" style="float:left; margin:0 10px 10px 0" border="0" /></a>
    <div class="berandaInfo">
      <p style="margin:0;">Setelah membuat kampanye iklan, isilah kampanye tersebut dengan iklan-iklan produk atau jasa Anda.<br />
        Disini Anda dapat membeli kata-kata kunci, dimana iklan Anda akan terpasang di halaman-halaman yang relevan dengan kata-kata kunci tersebut.</p>
      <p><a class="submitButton" href="beranda.php?buat_iklan=1">Buat Iklan</a></p>
      <p class="tips"><i>Tips : Untuk hasil terbaik, gunakan kata-kata kunci pilihan Anda dalam judul, isi iklan dan halaman situs Anda</i></p>
    </div>
    </td>
  </tr>
  <tr>
    <td>
    <h3 class="circleTitle" id="mt40"><span class="circle">3</span><span class="circleText">Topup akun SITTI sesuai dengan anggaran yang Anda tentukan sendiri</span></h3>
    <a href="pembayaran.php?howto=1"><img src="images/ss3.jpg" style="float:left; margin:0 10px 10px 0" border="0" /></a>
    <div class="berandaInfo">
      <p style="margin:0 0 0 0">Jangan lupa Top up akun SITTI Anda, supaya iklan Anda dapat segera ditampilkan.<br />
        Besar anggaran beriklan pun bisa Anda atur sendiri. Cepat dan mudah.</p>
      <p><a class="submitButton" href="pembayaran.php?howto=1">Top Up Akun!</a></p>
      <p class="tips"><i>Tips:Top up dapat Anda lakukan dengan menggunakan KlikBCA, Internet Banking Mandiri, SMS Banking Mandiri Iklan Anda siap ditayangkan!</i></p>
    </div>
    </td>
  </tr>
  <tr>
    <td>
     <div class="clear" style="padding:20px 0 0 0;">
      <p>Bingung menentukan anggaran yang tepat untuk kampanye iklan Anda? Cobalah simulasi kampanye SITTI disini.</p>
      <p><a class="submitButton" href="uji_sitti.php">Coba simulasi kampanye Sekarang!</a> </p>
    </div>
</td>
  </tr>
</table>
{if $is_cpm}
{else}
{if $intro_popup}
<div id="closeGreet" class="closePopup" style="position: absolute;right: 140px;top: 5px;display:none;"></div>
<div id="greetPop" class="suksesMessage" style="position:absolute; top:10px; left:275px; width:432px; background:#fff; z-index:2; display:none; text-align:left;padding: 30px 30px 50px;text-transform:none;">
	<h2 class="blue3">Pastikan iklan Anda langsung tayang! Jangan buang waktu, langsung isi saldo Anda!</h2>
	<p>Pilihlah jumlah yang hendak Anda isikan dibawah.</p>
	<hr style="margin-top:0;">
	<table cellpadding="0" cellspacing="0" width="100%" border="0">
		<tr>
			<td valign="bottom" align="center" width="33%"><img src="images/voucher/200.png" width="101" /></td>
			<td valign="bottom" align="center" width="33%"><img src="images/voucher/300.png" width="101" /></td>
			<td valign="bottom" align="center" width="33%"><img src="images/voucher/500.png" width="101" /></td>
		</tr>
		<tr>
			<td valign="top" align="center" width="33%"><a href="pembayaran.php?v=1"><img src="images/voucher/btn-biru.png" width="121" /></a></td>
			<td valign="top" align="center" width="33%"><a href="pembayaran.php?v=2"><img src="images/voucher/btn-ijo.png" width="121" /></a></td>
			<td valign="top" align="center" width="33%"><a href="pembayaran.php?v=3"><img src="images/voucher/btn-orange.png" width="121" /></a></td>
		</tr>
	</table>
	
</div>


<div id="transBg" style="background: url('images/trans50.png') repeat scroll 0 0 transparent; height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 1; display:block;"></div>

{literal}
<script>
	$(document).ready(function(){
		$("#greetPop").fadeIn("slow");
		$("#transBg").fadeIn("slow");
		$("#closeGreet").fadeIn("slow");
		});
	$("#closeGreet").click(function(){
		$("#greetPop").fadeOut("slow");
		$("#transBg").fadeOut("slow");
		$(this).fadeOut("slow");
		});
</script>
{/literal}

</div>
{/if}
{/if}

