<div style="padding-top:14px;"><h1 class="blue">Pendaftaran Anggota</h1></div>
<p style="padding-bottom:10px;">Lengkapilah formulir dibawah untuk bergabung dengan SITTI sebagai pengiklan.  Dalam waktu kurang dari 5 menit, iklan Anda sudah dapat muncul di publisher SITTI!</p>
<span class="text-adv absolute" style="left:665px; top:35px;">ADVERTISER</span>
<div class="icon-adv absolute page-blog2"></div>
<hr style="border:1px dotted #ccc"></hr>
<div style="float:left;">
<div id="msg">
{if $valid eq '0'}<span class="errorMessage">Advertiser ID Referral Tidak Valid</span>{/if}
{if $error_msg}<span class="errorMessage">{$error_msg}</span>{/if}
</div>
<p><strong>Isi kolom Referral  apabila Anda mengikuti <a href="prog_affilliate.html" target="_blank">Program Referral SITTI</a></strong></p>
<form class="registerForm" action="daftar.php" method="post" id="regForm">
	<table cellpadding="0" cellspacing="0" border="0" class="round-5 tabel-reg">
    <tr>
        		<td align="right" width="150">Referral&nbsp;&nbsp;&nbsp;</td>
        		<td width="300" valign="middle">
        			<input id="referral" style="margin-top: 10px;margin-bottom:0; margin-left:10px;" type="text" name="referral" class="inputText round-5 border-no" value="{$referral}" autocomplete="off"/>
                    <span id="availability_status"></span>
        		</td>
        		
        	</tr>
        	<tr>
        		<td align="right" width="150">Nama Lengkap*</td>
        		<td width="300" valign="middle">
        			<input style="margin-top: 10px;margin-bottom:0;" type="text" name="nama" class="inputText round-5 border-no" value="{$var.nama}" autocomplete="off"/><span style="font-size:10px; height:15px;display:block;">{if $isNotValidNama} <font color="red">{$isNotValidNama}</font> {else} {$var.required} {/if}</span>
        		</td>
        		
        	</tr>
        	<tr>
        		<td align="right" width="60">Email*</td>
        		<td>
        			<input type="text" id="email" name="email" style="margin-bottom:0;" class="inputText round-5 border-no" value="{$var.email}" autocomplete="off"/>
        			<span style="font-size:10px; height:15px;display:block;">{if $isNotValidEmail} <font color="red">{$isNotValidEmail}</font> {else} {$var.required} {/if}</span>
        			<span class="result" id="emailCheck" style="color:#f00;font-size:10px;"></span>	
        		</td>
        	</tr>
        	<tr>
        		<td align="right" width="60">Password*</td><td>	        						        
				    <input type="password" name="password" id="password" style="margin-bottom:0;" class="inputText round-5 border-no" value="{$var.password}" maxlength="20" autocomplete="off"/><span id="passback" style="font-size:10px;display:block;">{if $isNotValidPassword} <span class="errormessage"><font color="red">{$isNotValidPassword}</font></span> {else} {$var.required} {/if}</span>			    
        		</td>
        	</tr>
        	
        	<tr>
        		<td></td>
        		<td style="font-size:10px;">
        		
        			<div class="colorbar" id="colorbar"></div>
					
				    <span class="percent" id="percent" style="display:none;">
				      0%
				    </span>
				    <span class="result" id="result" style="color:#f00"></span><br>			       
				    
        			Buatlah password untuk dapat mengakses SITTI
        		</td>
        	</tr>
        	
        	<tr>
        		<td align="right" width="60">Ulangi Password*</td><td>	        						        
				    <input type="password" name="re-password" id="re-password" class="inputText round-5 border-no" maxlength="20" autocomplete="off" style="margin-bottom:0;"/><br>
				    <span class="result" id="rePassword" style="color:#f00;font-size:10px;display:block;height:13px;"></span>			    
        		</td>
        	</tr>
        	<tr>
        		<td align="right" width="60">Nomor Telepon</td><td>	        						        
				    <input type="text" name="telepon" id="telepon" class="inputText round-5 border-no" value="{$var.telp|stripslashes|strip_tags}"/>			    
        		</td>
        	</tr>
        	<tr>
        		<td align="right" width="60">Twitter</td><td>	        						        
				    <input type="text" name="twitter" id="twitter" class="inputText round-5 border-no" value="{$var.twitter|stripslashes|strip_tags}"/>			    
        		</td>
        	</tr>
        	<tr>
        		<td align="right" width="60"></td>
        		<td style="padding: 0 15px 10px; font-size:10px;" align="left">	 
        		<input type="checkbox" name="aggrement" class="inputCheckbox" value="1" />       						        
				     Saya setuju <a href="https://359.sitti.co.id/term.html" target="_blank" style="color:#1e6275; text-decoration: none;">syarat & ketentuan beriklan di SITTI</span>	    
        		</td>
        	</tr>
        	<tr>
				<td colspan="2" align="right">	        						        
			       {$CAPTCHA}
			    </td>
			</tr>			        		
            <tr>
        		<td></td>
        		<td style="padding: 0 15px 10px;">
        		<input id="mulaiberiklan" class="round-5 border-no" type="submit" value="" style="margin-bottom: 7px;" />
        		<input id="reset" class="round-5 border-no" type="reset" value="" style="margin-bottom: 7px;" />
        		</td>
        	</tr>
        	<tr>
        		<td align="right" width="60"></td>
        		<td style="padding: 0 15px 10px;">	        						        
				   <span style="color:#f00; float:left; font-size:10px;">*Wajib diisi</span>	    
        		</td>
        	</tr>
            
        </table>
</form>
</div>
<div style="float:left;margin:60px 0 0 30px;">
	<h3 class="blue">Masih ragu  daftar SITTI? Tonton video ini!</h3>
	<hr style="border:1px dotted #ccc; margin: 0 0 20px 0;"></hr>	
	<iframe width="360" height="275" src="http://www.youtube.com/embed/oUMXUBxW0as" frameborder="0" allowfullscreen></iframe>
	<hr style="border:1px dotted #ccc; margin: 20px 0;" ></hr>
	<a href="http://www.sitti.co.id/faqAdvertiser.php" style="background:url(images/revisi/btn-tentang.png) no-repeat; display: block;height: 41px;width: 358px;margin: 0 0 10px 0;"></a>
	<span class="blue" style="float:left; margin: 0 15px 0 0;padding: 10px 0 0;">Cara Pembayaran:</span>
	<div style="width: 355px;">
	<img src="images/bank_klik_bca.jpg" width="56" height="44" style="float:left"></img><img src="images/internet_mandiri2.jpg" width="80" height="44" style="float:left"></img>
	<img src="images/creditcard.jpg" height="33" style="float:left"></img><img src="images/paypal.jpg" height="35" style="float:left"></img><img src="images/ipaymu.png" height="20" style="float:left;margin-top: 9px;"></img>
	</div>
</div>
<div class="testimonial" style="height:100px;  width: 870px; float:left; margin: -30px 0 0;">
<hr style="border:1px dotted #ccc;"></hr>
	
<div class="testiText">
                <div class="newsticker-jcarousellite">
                    <ul>
                        <li>
                            <p>Helo SITTI Juwariyah <br />
aku baru pasang iklanmu di blogku loh.. jangan lupa kasih honor yang gede ya hehehe
                            </p>
                            <p class="blue">
                            Ponco - Blogger
                            </p>
                        </li>
                        
                        <li>
                            <p>Betul Berjuang terus sitti,
Saya juga lagi siapin senjata buat perang lawan ALIBABA yang mengalir di SUNGAI AMAZON he
Tetap semangat,dan pesan saya ndak usah head to Head lawan google, kita pakai taktik perang gerilya
Sukses buat sitti
                            </p>
                            <p class="blue">
                            Any - Blogger
                            </p>
                        </li>
                        <li>
                            <p> Thanks SITTI utk IPADnya yaaa :),, 
                            seneng deh *meski masih katrok pakenya* hehehe, moga SITTI tampil paling depan dalam hal advertising
                            supaya kami sebagai advertiser juga publisher mendapatkan pelayanan yang memuaskan,, trussss
                            SITTI yang rajin yaa bagi-bagi hadiah hehehe.
                            </p>
                            <p class="blue">
                            Dian - Blogger
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
</div>

<div id="feed-form" class="absolute round-5">
                	<div style="position:relative">
                    	<span id="close" style="color: #999999;right: 2px;top: -22px;width: 65px;position:absolute;font-size:10px;cursor:pointer;">CLOSE X</span>
                    </div>
                <form action="http://www.sitti.co.id/feedback.php" method="post" enctype="application/x-www-form-urlencoded"> 
    			<input class="round-5 border-no margin-right-15" onfocus="blank(this)" onfocus="unblank(this)" type="text" name="name" value="NAMA" />
                <input class="round-5 border-no margin-right-15" onfocus="blank(this)" onfocus="unblank(this)" type="text" name="email" value="E-MAIL" />
                <textarea class="round-5 border-no margin-right-15" name="saran" cols="30" rows="5"></textarea>
                <input type="submit" value="SEND" name="send" class="round-20 border-no">
                <input type="reset" value="RESET" name="reset" class="round-20 border-no">
                </form>
{literal}  		</div>
<style>
#availability_status {
	font-size:11px;
	margin-left:10px;
}

.error {
  color: #FF0000;
  font-size:10px;
  padding-left:15px;
}
</style>
{/literal}
<script language="javascript" src="js/passwordStrengthMeter.js"></script>
<script src="js/jquery.validate.js" type="text/javascript"></script>
<script language="javascript">
var valid = {if $valid eq '0'}{$valid}{else}1{/if};
</script>
{literal}
<script>
  $(document).ready(function(){
    $.validator.addMethod("onlynama", function(value, element) {
        return this.optional(element) || /^[a-z ]+$/i.test(value);
    }, "Isi Nama lengkap dengan huruf");
 
    $("#regForm").validate();
  });
  </script>
{/literal}
{literal}
<script language="javascript">	
	if(valid==0){
		$("#mulaiberiklan").attr("disabled","true");
		$("#availability_status").html('<img src="images/noavail.png" align="absmiddle">');
	}else {
		if ($('#referral').val()!=""){
			$("#availability_status").html('<img src="images/avail.png" align="absmiddle">');
		}
	}
	$('#referral').bind('change', function() {
		if ($('#referral').val()!=""){
			$("#availability_status").html('<img src="images/loader_small.gif" align="absmiddle">&nbsp;Checking availability...');
			$.get('adv_referral.php',{cek:1,refid: $('#referral').val(),cache:false}, function(data) {
				if(data=="0"){
					$("#mulaiberiklan").attr("disabled","true");
					$("#msg").html('<span class="errorMessage">Advertiser ID Referral Tidak Valid</span>');
					$("#availability_status").html('<img src="images/noavail.png" align="absmiddle">');
					
				}else{
					$("#mulaiberiklan").removeAttr("disabled");
					$("#msg").html("");
					$("#availability_status").html('<img src="images/avail.png" align="absmiddle">');
				}
			});
		}else{
			$("#availability_status").html("");
			$("#msg").html("");
			$("#mulaiberiklan").removeAttr("disabled");
		}
	});
	var bpos = "";
	var perc = 0 ;
	var minperc = 0 ;
	$('#email').keyup(function(){
		$('#emailCheck').html(emailValidate($('#email').val()));		
	    });
	$('#re-password').keyup(function(){
		$('#rePassword').html(passwordValidate($('#password').val(),$('#re-password').val())) ;
		});
	              
	$('#password').css( {backgroundPosition: "0 0"} );
	
	$('#password').keyup(function(){
		//alert($('#password').val()+","+$('#email').val());
		$('#result').html(passwordStrength($('#password').val())) ; 
		perc = passwordStrengthPercent($('#password').val());
		
		bpos=" $('#colorbar').css( {backgroundPosition: \"0px -" ;
		bpos = bpos + perc + "px";
		bpos = bpos + "\" } );";
		bpos=bpos +" $('#colorbar').css( {width: \"" ;
		bpos = bpos + (perc * 2) + "px";
		bpos = bpos + "\" } );";
		
		eval(bpos);
	    $('#percent').html(" " + perc  + "% ");
	    if(perc>0){
	    	$('#percent').show();
	    }
	    if($('#re-Password').val() !='' || $('#re-Password').val() !=null){
	    	$("#rePassword").html(passwordValidate($('#re-password').val(),$('#password').val())) ;
	    	$('#passback').fadeOut();
	    }else{
	    	$("#rePassword").html("");
		    }
	    
	});	
	
	
	
</script>
        
{/literal}
