

<div class="w635">
    <h3 class="headTitle">Pendaftaran Publisher SITTI</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. </p>

    <form class="registerForm" action="reg2.html">
        <h3 class="blue">Jenis Website</h3>
        <div class="row">
            <input type="radio" name="personal" class="inputRadio" />
            <label class="labelChek">Personal</label>
        </div>
        <div class="row">
            <input type="radio" name="corporate" class="inputRadio" />
            <label class="labelChek">Corporate</label>
        </div>
        <div class="row">
            <label>Kota</label>
            <input type="text" name="city" class="inputText" />
        </div>
        <div class="row">
            <input type="submit" value="DAFTAR" class="submitButton" />
            <p class="error">Semua field wajib diisi</p>
        </div>
    </form>
</div>
<div class="w242">

</div>