<div style="width:900px">
	<h3 class="headTitle">Halaman Index Promo</h3>
	
	<h3 class="blue">Solusi terbaik bisnis Anda:</h3>
	<h1>Dengan Rp 100.000,-, beriklan ke 50 juta orang</h1><br>
<p style="text-indent:50px;">
<strong>
Ada 4000 bisnis baru tercipta setiap harinya di Indonesia. Saat ini tercatat ada 50 juta wirausahawan kecil dan menengah di Indonesia. Sebagian mampu terus bertahan dan menjual barangnya, tapi tidak sedikit juga yang harus gulung tikar dan mengakui kegagalannya. Tentunya Anda tidak mau hal ini terjadi pada bisnis Anda.
</strong>
</p><p style="text-indent:50px;">
<strong>
Ada 1 hal yang membedakan kesuksesan seorang wirausahawan: mereka yang bisa mempromosikan produknya dengan efektif dan mereka yang terjebak dengan cara berpromosi kuno.
</strong></p>
<br>
<p>
<strong>
Sahabat wirausahawan kecil dan menengah,</strong></p>
<p>
	Dengan terbatasnya waktu, tenagada dan dana usaha yang kita punya, ada berbagai tantangan yang kita hadapi:</p>
	<ul style="margin-left:50px;">
		<li>"Omzet saya masih sangat minim dan saya tidak punya biaya promosi. Bagaimana caranya saya bisa mengiklankan produk saya tanpabiaya?"</li>
		<li>"Bagaimana agar produk saya dilihat oleh banyak orang?"</li>
		<li>"Bisa nggak sih kita hanya membayar iklan kalau ada orang yang berminat saja? Tentunya saya nggak ingin mengeluarkan biaya promosi dengan sia-sia."</li>
	</ul>
<p>
Tampaknya sulit mencari solusi untuk permasalahan di atas. Benarkah?</p>
<p>Kabar baik! Semua permasalahan itu ada solusinya. Anda bisa meningkatkan penjualan berpuluh-puluh kali lipat dan berpromosi dengan.. GRATIS.</p>
<p>Kaget?</p>
<p>Ini adalah alasan-alasan yang bisa membuat Anda percaya:</p>
	<ul style="margin-left:50px;">
		<li>Saat ini sudah ada cara untuk beriklan dengan GRATIS</li>
		<li>Anda hanya perlu membayar iklan bila ada orang yang benar-benar berminat dengan produk Anda</li>
		<li>Produk Anda bisa dilihat oleh orang-orang di seluruh Indonesia dan Anda bahkan tidak perlu beranjak dari kursi yang Anda duduki sekarang. Anda bisa "keliling" Indonesia dan berjualan dari rumah!</li>
	</ul>
<p><strong>Semua permasalahan penjualan Anda, dijawab oleh SITTI359.</strong></p>
<p><strong>SITTI359 adalah iklan baris versi modern, dengan tampilan yang sama seperti di koran. Bedanya, SITTI359 lebih efektif karena memiliki berbagai keunggulan:</strong></p>
<table class="list zebra" cellspacing="0" cellpadding="0" border="0">
	<tr class="head"><td>Iklan baris di koran</td><td>Iklan baris di internet (SITTI359)</td></tr>
<tr><td>Tidak kontekstual, yang artinya iklan Anda muncul di halaman-halaman yang ditentukan oleh pemilik koran
</td><td>Kontekstual, artinya iklan Anda hanya muncul di halaman-halaman yang membicarakan hal-hal yang sejalan dengan produk yang Anda jual, maka iklan akan dibaca oleh orang-orang yang benar-benar berminat dengan produk tersebut. Hal ini berdampak pada kemungkinan penjualan yang lebih besar.
</td></tr>
<tr><td>Bayar dulu baru iklan ditayangkan
</td><td>Iklan ditayangkan terlebih dahulu dan Anda belum tentu harus membayar 
</td></tr>
</table>
<br>
<p><strong>
11 alasan mengapa hanya SITTI359 yang dapat membantu bisnis Anda:</strong></p>
<ol style="margin-left:15px;">
<li>Impresi iklan gratis<br><br>
Bila iklan Anda ditayangkan namun tidak diklik orang, maka Anda tidak perlu membayar. SITTI359 menampilkannya GRATIS untuk Anda.</li><br>
<li>Anggaran fleksibel<br>
Punya 100 ribu atau 100 juta? Semua bisa beriklan di SITTI359! Kami tidak membeda-bedakan pelayanan. Anggaran setiap saat bisa disesuaikan dengan kemampuan Anda.</li><br>
<li>PPC<br><br>
SITTI359 menggunakan sistem PPC atau Pay-Per-Click yang artinya Anda baru akan membayar bila ada orang yang berminat dengan produk Anda dan mengklik iklan Anda. Bila orang hanya membaca iklan Anda, membaca nama dan produk yang Anda jual, Anda tidak perlu mengeluarkan uang sepeser pun.</li>
<br><li>Kemudahan menghitung konversi<br><br>
Seringkali Anda dihadapkan pada pemikiran "Dengan biaya yang saya keluarkan, berapa yang benar-benar efektif dan membuat orang membeli produk saya?". Hal itu akan terjawab bila Anda beriklan dengan SITTI359. SITTI359 memberikan laporan lengkap berapa biaya yang Anda keluarkan dan berapa orang yang berminat dengan produk Anda dan mengklik iklan Anda. Dengan begitu Anda bisa menghitung kesuksesan promosi Anda.</li>
<br><li>Kontekstual dan relevan<br><br>
Iklan Anda ditempatkan di tempat yang paling tepat, yaitu di halaman-halaman internet dan tulisan-tulisan yang membicarakan hal-hal yang sama dengan produk yang Anda jual. Ini menunjukkan SITTI359 fokus dalam mengjangkau target pasar Anda. Iklan Anda hanya muncul di halaman-halaman di mana orang memiliki minat terhadapnya maka iklan menjadi lebih efektif dan penjualan produk akan jadi lebih optimal.
<div style="margin:10px 0; background-color:#e5eff4; text-align:center; font-weight:bold;" class="quote">
	<a href="promo.php?act=promo">           
	Masih ragu? Jadilah 1000 orang beruntung yang mendapat e-voucher perdana SITTI359.<br>
	Klik di sini untuk bisa beriklan dengan GRATIS!
	</a>
</div><br>
<strong>
Bagaimana dengan jangkauan? Anda pasti ingin kan produk Anda mengjangkau seluruh target pasar? Tidak perlu kuatir, SITTI359 sudah memikirkannya untuk Anda.
</strong>
</li>
<li>Jangkauan luas ke seluruh Indonesia<br><br>
Dengan beriklan di SITTI359, produk Anda akan menjangkau 50 juta pengguna internet di Indonesia dan iklan Anda akan dilihat oleh 500 juta pasang mata. Semua dapat Anda lakukan hanya dengan duduk di depan komputer!
</li><br><li>Iklan menggunakan bahasa Indonesia<br><br>
Bahasa Indonesia adalah bahasa yang digunakan dan dimengerti semua orang dari Sabang sampai Merauke, maka beriklan menggunakan bahasa Indonesia merupakan langkah yang paling pintar. SITTI359 adalah media beriklan asli dari dalam negeri dan paling mengerti bahasa Indonesia. Maka SITTI359 adalah jawaban bila target pasar Anda adalah penduduk Indonesia. 
</li><br><li>Geotargetting<br><br>
Anda bebas menentukan di daerah mana iklan Anda akan ditayangkan. Bila Anda hanya ingin berjualan di Pulau Bali saja, maka SITTI359 tidak akan menampilkan iklan Anda di luar Pulau Bali. Bila Anda hanya ingin iklan Anda ditayangkan di Jakarta saja, maka iklan Anda tidak akan muncul di Jakarta Bandung. Intinya, bila Anda hanya ingin berjualan di kota tertentu saja, bisa. Semakin Anda memfokuskan diri beriklan pada target pasar, semakin efektif promosi yang Anda lakukan.
<div style="margin:10px 0; background-color:#e5eff4; text-align:center; font-weight:bold;" class="quote">
<a href="promo.php?act=promo">   
Klik di sini untuk bisa beriklan dengan GRATIS!<br>
Hanya ada sampai 23 Agustus 2011. Daftar sekarang dan dapatkan e-vouchernya. Persediaan terbatas.
</a></div><br>
<strong>
Anda sudah membaca sejauh ini dan berpikir "Ini iklan di internet? Tapi saya kan gaptek alias gagap teknologi", maka 3 alasan ini akan mengubah pikiran Anda:
</strong>
</li><li>User friendly<br><br>
Tidak butuh seseorang dengan tingkat penddiikan yang tinggi untuk dapat mengoperasikandan beriklan dengan SITTI359. Anda  dapat membuat iklan sendiri, cukup dengan login ke www.359.sitti.co.id dan mengikuti panduan yang ada. SITTI359 menggunakan bahasa Indonesia maka panduan dapat dimengertu degan mudah. 
</li><br><li>Iklan dapat dimonitor setiap saat<br><br>
Dengan SITTI359, setiap saat Anda dapat memonitor tingkat kesuksesan iklan Anda. Anda juga dapat melakukan modifikasi kapan saja. Dengan demikian, Anda dapat memastikan keefektifan iklan Anda.
</li><br><li>Iklan bersaing dengan produk-produk terkenal<br><br>
Karena usaha yang Anda miliki tergolong kecil dan menengah, siapa bilang produk Anda tidak bisa bersaing dengan produk-produk terkenal? Penayangan  iklan SITTI359 ditentukan dari kata kunci yang Anda pilih. Bila Anda memilih kata kunci "baju" maka bisa jadi iklan Anda ditempatkan sejajar dengan produk-produk merek baju merek terkenal. 
<div style="margin:10px 0; background-color:#e5eff4; text-align:center; font-weight:bold;" class="quote">
<a href="promo.php?act=promo"> 
Sekarang saatnya mencoba beriklan dengan SITTI359. GRATIS!<br>
Klik di sini untuk mendapat e-voucher perdana SITTI359. Promo ini hanya berlaku sampai 23 Agustus 2011.
</a></div>
</li><br></ol>

<p>
<strong>Tidak sedikit wirausahawan kecil dan menengah yang telah beriklan dengan SITTI359. Cerita mereka bisa jadi cerita Anda.</strong></p>
<p><i>
"Sejak saya beriklan dengan SITTI359, ada banyak sekali yang mengakses website saya. Dibandingkan dengan media beriklan online lain, SITTI359 lebih banyak menghasilkan impresi iklan. Impresi iklan saya sampai 200.000 orang unique visitor! SITTI359 juga memiliki hal-hal yang saya anggap penting dalam beriklan yaitu kontekstual, anggarannya fleksibel dan jangkauan yang luas karena pembeli saya banyak berasal dari luar kota Bandung. Selain itu, iklannya berbahasa Indonesia maka sesuai dengan target pasar yang saya tuju. Saya juga dapat memonitor performa iklan saya."
</i><br>
<span style="float:right">(Ernest Joshua, 22 tahun, <a href="http://www.gudangprinter.com" target="_blank">www.gudangprinter.com</a>, Bandung)</span></p><br>

<p><i>"Saya mencoba SITTI359 kurang lebih selama 1 bulan. Hasilnya, iklan saya impresinya tinggi dan banyak sekali yang melihat iklan saya. Orang-orang yang mengunjungi website saya juga sesuai dengan yang dicari, artinya SITTI359 kontekstual. SITTI359 menguntungkan karena memiliki sistim PPC atau Pay-Per-Click. Ini penting agar kita tidak rugi. SITTI359 membawa dampak yang bagus terhadap bisnis saya."</i><br>
<span style="float:right">(Andri Herumirti, <a href="http://www.scanbuku.com" target="_blank">www.scanbuku.com</a>, Jakarta)</span></p><br>
<p><i>"Saya menjalankan bisnis Seragam Batik sudah 4 tahun lamanya dan 90% melakukan promosi secara online. Yang penting bagi saya adalah bagaimana meningkatkan traffic ke www.seragambatik.com, tempat jualan saya. Selain it,  kontekstualitas, kemudahan menghitung konversi, geotargeting dan monitoring juga sangat mendukung. SITTI359 juga dapat menampilkan iklan kita sejajar dengan merek-merek terkenal. Hal ini penting untuk menaikkan pamor produk yang kita jual."</i><br>
<span style="float:right">(Adhika Dirgantara, 30 tahun, <a href="http://www.seragambatik.com" target="_blank">www.seragambatik.com</a>, Jakarta)</span></p><br>
<p><i>"Saya senang beriklan menggunakan SITTI359 karena iklannya kontekstual. Selain itu, SITTI359 bisa fokus di kota tertentu dan juga bisa menjangkau seluruh Indonesia. Saya memonitor iklan saya setiap hari."</i><br>
<span style="float:right">(Abdulloh Aziz Raharjo, 35 tahun, <a href="http://www.kuekering.com" target="_blank">www.kuekering.com</a>, Yogyakarta)</span></p><br>

<div style="margin:10px 0; background-color:#e5eff4; text-align:center; font-weight:bold;" class="quote">
<a href="promo.php?act=promo"> 
Jangan ragu lagi! Coba SITTI359 sekarang dengan GRATIS.<br>
Klik di sini dan dapatnya e-vouchernya. Persediaan terbatas.
</a></div>
<p><strong>		
Dalam berbisnis, momentum adalah segalanya. Jangan tunda lagi. Menunggu sampai besok berarti menunda kesuksesan bisnis Anda.</strong></p>
<p>
<ul style="margin-left:50px;">
<li>Mau sampai kapan biaya promosi Anda ditentukan oleh pemilik media dan tempat percetakan brosur? Anda seharusnya dapat menentukan biaya promosi Anda sendiri. 100 ribu? 200 ribu? Semuanya ditentukan oleh kemampuan kocek Anda.
</li><li>Mau sampai kapan produk dan iklan Anda dilihat hanya oleh sebagian orang yang kebetulan melihat brosur Anda? Mau sampai kapan kita berpromosi di pohon-pohon dengan jumlah pembaca yang terbatas?
</li><li>Mau sampai kapan Anda harus membayar biaya produksi brosur atau pengiriman SMS tanpa mendapat kepastian akan siapa yang tertarik dengan produk Anda? Untuk apa membayar iklan yang belum tentu menghasilkan penjualan?
</li></ul><p>
<div style="margin:10px 0; background-color:#e5eff4; text-align:center; font-weight:bold;" class="quote">
<a href="promo.php?act=promo"> 
E-voucher GRATIS iklan SITTI359 hanya berlaku untuk 1000 orang pertama.<br>
Klik sekarang sebelum kehabisan!
</a></div>
<p><strong>
Hanya dengan Rp 100.000,-, jual produk Anda ke 50 juta orang di Indonesia.</strong></p>
<p><strong>Mulailah berpromosi dengan efektif. Jangan buang uang Anda.</strong></p>
<p><strong>Hanya SITTI359 yang bisa meningkatkan penjualan hingga puluhan kali lipat.</strong></p>
<ul style="margin-left:50px;">
<li>Omzet Anda masih sangat minim dan Anda tidak punya biaya promosi? Di SITTI359 Anda bisa menampilkan ikla produk Anda tanpa biaya
</li><li>Produk Anda akan muncul di 20 juta halaman situs berbahasa Indonesia dan dibaca oleh total 500 juta pasang mata di Indonesia
</li><li>Anda hanya perlu membayar iklan bila ada target pasar yang berminat dengan produk Anda. Biaya promosi tidak akan sia-sia!
</li></ul>

<div style="margin:10px 0; background-color:#e5eff4; text-align:center; font-weight:bold;" class="quote">
<a href="promo.php?act=promo"> 
 Tunggu apalagi? Klik tulisan di bawah ini sekarang juga.
Coba SITTI359 sekarang. Dapatkan e-voucher perdana GRATIS untuk 1000 orang, hanya sampai tanggal 23 Agustus 2011. Persediaan terbatas.
</a></div>

</div>