<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>SITTI 359 Platform</title>
        <link href="css/sitti.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" language="javascript" src="js/iepngfix_tilebg.js"></script>
        <script type="text/javascript" language="javascript" src="js/drop_table.js"></script>
        <script type="text/javascript" src="js/jquery.js"></script>
        <link rel="shortcut icon" href="images/favicon.ico">
        <link rel="icon" type="image/gif" href="images/animated_favicon.gif">
        {literal}
        <script type="text/javascript">
            $(document).ready(function() {

                // choose text for the show/hide link - can contain HTML (e.g. an image)
                var showText='Tampilkan Saran Kata';
                var hideText='Hide';

                // initialise the visibility check
                var is_visible = false;

                // append show/hide links to the element directly preceding the element with a class of "toggle"
                $('.toggle').prev().append(' <a href="#" class="toggleLink submitButton">'+showText+'</a>');

                // hide all of the elements with a class of 'toggle'
                $('.toggle').hide();

                // capture clicks on the toggle links
                $('a.toggleLink').click(function() {

                    // switch visibility
                    is_visible = !is_visible;

                    // change the link depending on whether the element is shown or hidden
                    $(this).html( (!is_visible) ? showText : hideText);

                    // toggle the display - uncomment the next line for a basic "accordion" style
                    //$('.toggle').hide();$('a.toggleLink').html(showText);
                    $(this).parent().next('.toggle').toggle('slow');

                    // return false so any link destination is not followed
                    return false;

                });
            });

        </script>
        <script>

            // When the document loads do everything inside here ...
            $(document).ready(function(){

                // When a link is clicked
                $("a.tab").click(function () {


                    // switch all tabs off
                    $(".active").removeClass("active");

                    // switch this tab on
                    $(this).addClass("active");

                    // slide all content up
                    $(".contentTab").slideUp();

                    // slide this content up
                    var content_show = $(this).attr("title");
                    $("#"+content_show).slideDown();

                });

            });
        </script>
        {/literal}

    </head>

    <body onload="init()">
     {if $takeOut}<div class="cLabel"><a href="http://www.sitti.co.id/UtakAtik/index.html"></a></div>{/if}
        <div class="wrapper">
            <div class="header">
                <a class="logo" href="index.php">&nbsp;</a>
                <a class="slogan" href="index.php">&nbsp;</a>
                <a class="bahasa" href="?lang=en">>> Can't speak Bahasa? Click here for English!</a>
            </div>
            <div class="navigationBar">
                <ul class="navigation">
                    <li><a href="tentang_kami.php">Tentang SITTI</a></li>
                    <li><a href="uji_sitti.php">Uji SITTI</a></li>
                    <li><a target="_blank" href="http://sitti.zendesk.com/anonymous_requests/new">Kontak Kami</a></li>
                </ul>
                <div class="daftar">
                    <a  href="index.php?login=1">LOGIN</a> | <a href="index.php?registration=1">DAFTAR SITTI</a>
                </div>
            </div>
            <div class="headContent">&nbsp;</div>
            <div class="content">
                <div class="w635">
                    <h3 class="headTitle">TERM OF SERVICE</h3>
                    <p>
                    It is a long established fact that a reader will be distracted
                    by the readable content of a page when looking at its layout.
                    The point of using Lorem Ipsum is that it has a
                    more-or-less normal distribution of letters, as opposed to using
                    'Content here, content here', making it look like readable English.
                    Many desktop publishing packages and web page editors now use
                    Lorem Ipsum as their default model text, and a search for
                    'lorem ipsum' will uncover many web sites still in their infancy.
                    Various versions have evolved over the years, sometimes by accident,
                    sometimes on purpose (injected humour and the like).
                    </p>
                </div>

            </div>
            <div class="bottomContent">
            </div>
        </div>
        <div class="footer">
            <div class="wrapper">
                <ul class="navFoot">
                    <ul class="navFoot">
                        <li><a href="tentang_kami.php">Tentang Kami</a>|</li>
                        <li><a href="term.html" target="_blank"> Syarat dan Ketentuan</a>|</li>
                        <li><a href="http://blog.belajarsitti.com/" target="_blank">Blog</a>|</li>
                        <li><a href="http://belajarsitti.com/" target="_blank"> Jadi SITTIZEN</a>|</li>
                        <li><a href="http://sitti.zendesk.com/anonymous_requests/new" target="_blank">Kontak Kami</a></li>
                    </ul>
                </ul>
                <p class="copyRight">
                    Email: beriklan@sittibelajar.com<br />
                    © 2010 SITTI
                </p>
            </div>
        </div>
        {literal}
        <script type="text/javascript">

			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-16501037-1']);
			  _gaq.push(['_setDomainName', 'sitti.co.id']);
			  _gaq.push(['_trackPageview']);
			
			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga, s);
			  })();

		</script>
		
	{/literal}
    </body>
</html>
