<p>
Selamat! Anda berhak mendapat <em>Top Up Voucher SITTI</em> senilai Rp100.000. <em>Voucher</em> ini dapat Anda gunakan untuk menambah saldo Anda selagi beriklan dengan efektif menggunakan SITTI. </p>
<p>Ini adalah kode <em>Voucher</em> Anda: {$voucher_code} </p>
<p>
Untuk menggunakan <em>Top Up Voucher</em> ini, terlebih dahulu Anda harus memiliki akun sebagai <em>Advertiser SITTI</em>. Bagi Anda yang <strong>sudah</strong> memiliki akun<em> Advertiser SITTI</em> serta sedang memiliki iklan aktif, ikuti petunjuk dibawah ini untuk menggunakan <em>Top Up Voucher Anda</em>: </p>
<div style="padding-left:20px;">
<p>1. Kunjungi <a href="https://359.sitti.co.id/">https://359.sitti.co.id/</a></p>

<p>2. Klik menu "Top Up"</p>

<p>3. Pilih metode pembayaran Voucher Kredit</p>

<p>4. Masukkan kode yang tertera di Top Up Voucher Anda</p>

<p>5. Klik tombol "Lanjut"</p>

<p>6. Akun Anda akan terisi sejumlah voucher tersebut</p>

<p>7. Voucher hanya dapat digunakan sekali</p>

</div>
<p>
Bagi Anda yang belum memiliki akun <em>Advertiser SITTI</em>, ikuti petunjuk di bawah ini untuk mendaftarkan diri Anda: </p>
<div style="padding-left:20px;">
<p>1. Kunjungi {$url}</p>

<p>2. Ikuti petunjuk "Daftar di SITTI"</p>

<p>3. Setelah selesai membuat akun, ikuti petunjuk pembuatan kampanye dan iklan</p>

<p>4. Iklan Anda akan dapat segera tayang di jutaan situs/website yang termasuk dalam jaringan SITTI di seluruh Indonesia</p>
</div>
<p>
Saatnya untuk beriklan dengan efektif bersama SITTI!
</p>
<p>
Kunjungi <a href="http://sitti.zendesk.com/anonymous_requests/new" target="_blank">http://sitti.zendesk.com/anonymous_requests/new</a> untuk informasi dan bantuan.
</p>