Selamat! Anda berhak mendapat Top Up Voucher SITTI senilai Rp100.000. Voucher ini dapat Anda gunakan untuk menambah saldo Anda selagi beriklan dengan efektif menggunakan SITTI.\n
Ini adalah kode Voucher Anda: {$voucher_code}\n
\n
Untuk menggunakan Top Up Voucher ini, terlebih dahulu Anda harus memiliki akun sebagai Advertiser SITTI. Bagi Anda yang sudah memiliki akun Advertiser SITTI serta sedang memiliki iklan aktif, ikuti petunjuk dibawah ini untuk menggunakan Top Up Voucher Anda:\n
\n
1.	Kunjungi {$url}\n
2.	Klik menu "Top Up"\n
3.	Pilih metode pembayaran Voucher Kredit\n
4.	Masukkan kode yang tertera di Top Up Voucher Anda\n
5.	Klik tombol "Lanjut"\n
6.	Akun Anda akan terisi sejumlah voucher tersebut\n
7.	Voucher hanya dapat digunakan sekali\n
\n
Bagi Anda yang belum memiliki akun Advertiser SITTI, ikuti petunjuk di bawah ini untuk mendaftarkan diri Anda:\n
1.	Kunjungi {$url}\n
2.	Ikuti petunjuk "Daftar di SITTI"\n
3.	Setelah selesai membuat akun, ikuti petunjuk pembuatan kampanye dan iklan\n
4.	Iklan Anda akan dapat segera tayang di jutaan situs/website yang termasuk dalam jaringan SITTI di seluruh Indonesia\n
\n
Saatnya untuk beriklan dengan efektif bersama SITTI!\n
Kunjungi http://sitti.zendesk.com/anonymous_requests/new untuk informasi dan bantuan.\n
\n