<script type="text/javascript">
{literal}
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       
       if(e.style.display == 'block')
          e.style.display = 'none';
       	 
       else
          e.style.display = 'block';
       	  
    }
    function toggle_image(id) {
        var f = document.getElementById(id);
        if(f.style.backgroundImage == 'url("images/images_sorter/plus.png")')
            f.style.backgroundImage="url(images/images_sorter/minus.png)";
         else
            f.style.backgroundImage="url(images/images_sorter/plus.png)";
     }

     $(function() {
       $("#campaign_count").change( function() {
         $("#content_kampanye_aktif").html("<span style='text-align:center;' align='center'><img src='images/loader.gif'/></span>");
         $("#content_kampanye_aktif").load("report.php?t=11&campaigncount=" + parseInt($(this).val()));
       });
     });

{/literal}
</script>
<h3>Notifikasi Akun</h3>

{if is_array($notif)}	
<table cellspacing="0" cellpadding="0" border="0" class="list zebra" style="width:933px;">
 	<tr class="head2 oddRow" onclick="toggle_visibility('showhide1');toggle_image('tombol1');">
    	<td>
				 <span style="float:left">{$notif[0].posted_date|date_format:"%d/%m/%Y"}</span>
				 <span id="tombol1" style="background-image:url(images/images_sorter/minus.png);width:10px;height:10px;float:right;margin:4px;"></span>
         </td>
    </tr>
</table>
<div id="showhide1" style="display:block;margin-bottom:10px;">
<table cellspacing="0" cellpadding="0" border="0" class="list zebra noMargin" style="width:933px;">
    
    	{section name=i loop=$notif}
    		{if $notif[i].type_alert >= 0}
				<tr class="evenRow">
					<td>
						<span class="circle_small">!</span>Anda memiliki {$notif[i].total} {$notif[i].alert_msg}
						<p>
							<ul style="margin-left:20px;">
							{section name=j loop=$notif[i].list_iklan}
								<li><a href="beranda.php?PerformaIklan={$notif[i].list_iklan[j].id}">{$notif[i].list_iklan[j].nama}, keyword: {$notif[i].list_iklan[j].keyword}</a></li>
							{/section}
							</ul>
						</p>
		   			</td>
		   		</tr>
	   		{else}
	   			<tr class="evenRow">
					<td>
						{if $notif[i].url != ''}
							<span class="circle_small">!</span><a target="_blank" href="{$notif[i].url}">{$notif[i].message}</a>
						{else}
							<span class="circle_small">!</span>{$notif[i].message}
						{/if}
	   				</td>
	   			</tr>
	   		{/if}
	   	{/section}
   
</table>
</div>
{else}
<p>Tidak ada notifikasi untuk hari ini.</p>
{/if}
<a href="beranda.php?notifikasi=true">Lihat Semua Notifikasi</a>
<div id="tableKampanyeAktif" style="margin-top:35px;">
<h3>Daftar Kampanye Aktif</h3>
<div id="content_kampanye_aktif">
{$daftar_kampanye}
</div>
<br /><br />
  <div style="float:right">
   <form name="form" id="form">
     <select name="campaign_count" id="campaign_count">
       <option value='5' selected="selected">5</option>
       <option value='10'>10</option>
       <option value='20'>20</option>
       <option value='100'>semua</option>
     </select>
   </form>
  </div>
  <div  style="float:right; padding-right:5px;">
  Tampilkan
  </div>
</div>

<hr class="lineBeranda">

<h3>Forum Pengguna Sitti</h3>
<span style="float:right;"><a href="http://forum.sitti.co.id">Buka Forum SITTI</a></span>

{if is_array($rss)}
<table cellspacing="0" cellpadding="0" border="0" class="list zebra">
  <tbody>
  {section name=i loop=$rss}
  {assign var=num value=0}
  {if $smarty.section.i.iteration == 1}
  <tr class="evenRow">
  {/if}

    <td style="vertical-align:top;width:400px;">
    <a href="{$rss[i].link}"><strong>{$rss[i].title}</strong></a><br />
    {$rss[i].description}
    </td>
  
  {if $smarty.section.i.iteration % 2 == 0 && $smarty.section.i.iteration < $smarty.section.i.loop}
  {assign var=num value=$smarty.section.i.iteration/2}
  </tr>
  <tr class="{if $num % 2 == 0}evenRow{else}oddRow{/if}">
  {/if}
  
  {/section}
  </tbody>
</table>
{/if}
