<script type="text/javascript" src="js/jquery_swfobject.js"></script>
<script>
var c_id = '{$c_id}';
var f5 = [];
var fi = [];
var fk = [];
var fc = [];
{literal}
$(document).stopTime();
function updateInterval(){
	$(document).oneTime('15s', function() {
		$.ajax({ url: "report.php?t=4&status=1", context: document.body, success: function(data){
			if(data=='1'){
				$(document).stopTime();
				updateInterval();
			}else if(data=='0'){
				$(document).stopTime();
				onTab('#PerformaKataKunci','nav3');
			}
		}});
	});
}
$(document).ready(function() {
		if (c_id=='none'){
			//kampanye
		   $.get('report.php',{t:103,n:10,cache:false}, function(data) {
				f5 = eval(data);
				if (f5 != null && f5.length > 0) {
					for (var i = 0; i < f5.length; i++){
						if (f5[i].imp){
							fi.push(f5[i]);
						}
						if (f5[i].click){
							fk.push(f5[i]);
						}
						if (f5[i].ctr){
							fc.push(f5[i]);
						}
					}
					_chart3(fi);
				} else {
					$("#katakunciChartKataKunci").hide();
				}
			});
		}else{
			$.get('report.php',{t:103,n:10,c_id:c_id,cache:false}, function(data) {
				f5 = eval(data);
				if (f5 != null && f5.length > 0) {
					for (var i = 0; i < f5.length; i++){
						if (f5[i].imp){
							fi.push(f5[i]);
						}
						if (f5[i].click){
							fk.push(f5[i]);
						}
						if (f5[i].ctr){
							fc.push(f5[i]);
						}
					}
					_chart3(fi);
				} else {
					$("#katakunciChartKataKunci").hide();
				}
			});
		}
		
		$("a#showKeywordByCampaign").click(function() {
			var keyword_report_link = 'report.php?t=4&c_id='+$('#campaign').val()+'&cache=false';
			$("#tab04").load(keyword_report_link);
		});
	});
function togglec3(sort){
	try{
		if (sort=="imp"){
			_chart3(fi);
		}
		if (sort=="click"){
			_chart3(fk);
		}
		if (sort=="ctr"){
			_chart3(fc);
		}
	}catch(e){}
}
function _chart3(feeds){
	try{
		var _titles = {'imp':'Jumlah Impresi','click':'Jumlah Klik','ctr':'Persentase CTR'};
		var _data = [];
		if(feeds.length>0){
			for(var i=0;i<feeds.length;i++){
				//_cat.push(feeds[i].kata);	
				
				_data.push({name:feeds[i].kata,data:[parseFloat(feeds[i][$('#cc3').val()])]}); 
			}
			
			chart = new Highcharts.Chart({
					chart: {
						renderTo: 'g3',
						defaultSeriesType: 'column'
					},
					exporting:{enabled:false},
					title: {
						text: _titles[$('#cc3').val()]+' Kata Kunci Terbaik'
					},
					subtitle: {
						text: ' '
					},
					xAxis: {
						categories: [
							'Kata Kunci'
						]
					},
					yAxis: {
						min: 0,
						title: {
							text: 'Jumlah'
						}
					},
					legend: {
						layout: 'vertical',
						backgroundColor: '#FFFFFF',
						align: 'left',
						verticalAlign: 'top',
						x: 70,
						y: 70,
						floating: true,
						shadow: true
					},
					credits:{enabled:false},
					tooltip: {
						formatter: function() {
							return ''+
								'Jumlah : '+ this.y +'';
						}
					},
					plotOptions: {
						column: {
							pointPadding: 0.2,
							borderWidth: 0
						}
					},
				     series: _data
				});
		}else{
			$("#g3").html("No Data");
		}
	}catch(e){}
 }
function deleteKeyword(keyword, c_id){
	$.get('beranda.php',{hapus_keyword:1, c_id:c_id, k:keyword}, function(){
		window.location = "beranda.php?PerformaKataKunci";
	});
}
</script>
{/literal}

<div>
	<div style="margin-bottom:20px;">
		<table border="0" cellspacing="0" cellpadding="0" class="list zebra">
  			<tr class="head2">
    			<td>Total</td>
    			<td>Aktif</td>
    			<td>Non Aktif</td>
  			</tr>
            <tr>
            	<td><span class="f18 bold green">{$report.total|number_format} Kata</td>
                <td><span class="f18 bold green">{$report.aktif|number_format} Kata</td>
                <td><span class="f18 bold green">{$report.inaktif|number_format} Kata</td>
            </tr>
		</table>
	</div>
 <table border="0" cellspacing="0" cellpadding="0" class="list zebra" style="margin:0;">
  <tr class="head2">
    <td></td>
  </tr>
  <tr>
    <td>{*}<span class="f18 bold green">{$report.total_keyword|number_format} Kata</span>{/*}
		<div style="float:right;">
    	{*}<select name="campaign" id="campaign" >
			<option value='none'>Semua Kampanye</option>
			{if $list_campaign} 
			{section name=i loop=$list_campaign}
			<option value="{$list_campaign[i].enc_campaign_id}" {if $c_id == $list_campaign[i].enc_campaign_id }selected="selected"{/if} >{$list_campaign[i].name}</option>
			{/section}
			{/if}
		</select>{/*}
		{*}<a href="javascript:void(0)" id="showKeywordByCampaign" style="text-decoration: none;" class="submitButton">Tampilkan Kata Kunci</a>{/*}
		</div>
    </td>
  </tr>
</table>
</div>

<div id="katakunciChartKataKunci">

	<div class="shortGrafik">
	<span> Lihat berdasarkan : </span>
	<select id='cc3' onchange="togglec3(this.value)">
	<option value="imp">Impresi</option>
	<option value="click">Klik</option>
	<option value="ctr">CTR</option>
	</select>
	</div>

	<div id="grafikBlock">
		<div id="g3"> </div>
	</div>

</div>			
{if $UpdateInProgress}
<div class="titleBerandaZen">
<div align="center" style="text-align:left; padding:10px;" class="colLoader">
<div class="loaderBox">
<img src="images/loader_small.gif" class="loaderSmall" /><p>Mohon tunggu, kami sedang memproses perubahan Anda.</p>
</div>
</div>
</div>
<script>
  updateInterval();
</script>
{/if}
    <div class="titleBerandaZen">
     <a class="tambahIcon" onmouseover="tooltip.show('Pindahkan ke Beranda');" onmouseout="tooltip.hide();"  href="#">&nbsp;</a>
     <!--  sementara di hide <a class="pdf" onmouseover="tooltip.show('Export ke PDF');" onmouseout="tooltip.hide();"  href="#">&nbsp;</a>
     --><a class="excel" onmouseover="tooltip.show('Export ke CSV');" onmouseout="tooltip.hide();"  href="report.php?t=4&c_id={$c_id}&csv=1&st={$start}" target="_blank">&nbsp;</a>
   </div>
   <table border="0" cellspacing="0" cellpadding="0" class="list zebra">
	<tr class="head2">
		<td width="250">Kata Kunci</td>
        <td width="250">Terpakai</td>
		<td align="center"><a href="#" class="shortTitle">Impresi<img
			class="shotIcon" src="images/short_up.png" /></a></td>
		<td align="center"><a href="#" class="shortTitle">Klik<img
			class="shotIcon" src="images/short_down.png" /></a></td>
		<td align="center"><a href="#" class="shortTitle">CTR % <img
			class="shotIcon" src="images/short_down.png" /></a></td>
            <td align="center"><a href="#" class="shortTitle">Rata2 CPC <img
			class="shotIcon" src="images/short_down.png" /></a></td>
		<td align="center"><a href="#" class="shortTitle">Rata2 Top 5 CPC <img
			class="shotIcon" src="images/short_down.png" /></a></td>
	</tr>
	{section name=i loop=$top_key}
	<tr>
		{if $top_key[i].in_progress <> '1'}
			<td style="width:250px;"><div style="width:250px;">{$top_key[i].keyword|stripslashes|strip_tags} <a href="javascript:deleteKeyword('{$top_key[i].keyword|stripslashes|strip_tags}','{$c_id}')" class="deletePage" onmouseout="tooltip.hide();" onmouseover="tooltip.show('Hapus Kata kunci');" style="float:right;">&nbsp;</a></div></td>
			<td align="center">{if $top_key[i].status eq '0'}<span class="green">Ya</span><span class="scoreGreen"><img src="images/green.gif" /></span>{else}<span class="red">Tidak</span><span class="scoreRed"><img src="images/red.gif" /></span>{/if}</td>
			<td align="center">{$top_key[i].imp|number_format}</td>
			<td align="center">{$top_key[i].click|number_format}
			{if $top_key[i].klik_change > 0 && $top_key[i].status eq '0'}
			<span style="padding-left:10px;"><img src="images/ppc/arrow_up.png" onmouseout="tooltip.hide();" onmouseover="tooltip.show('{$top_key[i].klik_change|number_format:2}%');" /></span>
			{elseif $top_key[i].klik_change < 0 && $top_key[i].status eq '0'}
			<span style="padding-left:10px;"><img src="images/ppc/arrow_down.png" onmouseout="tooltip.hide();" onmouseover="tooltip.show('{$top_key[i].klik_change|number_format:2}%');" /></span>
			{/if}
			</td>
			<td align="center">{$top_key[i].ctr} %</td>
			<td align="center">{$top_key[i].avg_cpc|round}</td>
			<td align="center">{$top_key[i].avg_top5_cpc|round}</td>
		{else}
			<td style="width:250px;"><div style="width:250px;"><i>{$top_key[i].keyword|stripslashes|strip_tags}</i></div></td>
			<td align="center"><span class="red">sedang proses</span><span class="scoreRed"><img src="images/red.gif" /></span></td>
			<td align="center"><i>{$top_key[i].imp|number_format}</i></td>
			<td align="center"><i>{$top_key[i].click|number_format}</i></td>
			<td align="center"><i>{$top_key[i].ctr} %</i></td>
			<td align="center"><i>{$top_key[i].avg_cpc|round}</i></td>
			<td align="center"><i>{$top_key[i].avg_top5_cpc|round}</i></td>
		{/if}
	</tr>
	{/section}
</table>

{$paging}
