<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>SITTI - Platform Iklan Kontekstual Berbahasa Indonesia, Iklan Kontekstual, Bahasa Indonesia</title>
<link href="css/sitti.css" rel="stylesheet" type="text/css" /> 
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="js/iepngfix_tilebg.js"></script>
<script type="text/javascript" language="javascript" src="js/drop_table.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
        <link type="text/css" href="js/themes/hot-sneaks/ui.all.css" rel="stylesheet" />
		<script type="text/javascript" src="js/iepngfix_tilebg.js"></script>
        <script type="text/javascript" src="js/drop_table.js"></script>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/ui/ui.core.js"></script>
        <script type="text/javascript" src="js/ui/ui.datepicker.js"></script>
        <script type="text/javascript" src="js/ui/i18n/ui.datepicker-id.js"></script>
        <script type="text/javascript" src="js/flash.js"></script>
        {literal}
		<script type="text/javascript">
		
          $(document).ready(function(){
            $(".closeDialog").click(function(){
				$("#kotakdialog").hide("slow");
			});
          });
		 
        </script>
		<script type="text/javascript">
            $(document).ready(function() {	
                //When page loads...
                $(".tab_content").hide(); //Hide all content
                $("ul.tabjs li:first").addClass("active").show(); //Activate first tab
                $(".tab_content:first").show(); //Show first tab content
				
				
            
            });
            $(document).ready(function(){
                $("#tanggalAwalBeranda,#tanggalAkhirBeranda,#tanggalAwalAkun,#tanggalAkhirAkun,#tanggalAwalPenempatan,#tanggalAkhirPenempatan,#tanggalAwalKatakunci,#tanggalAkhirKatakunci,#tanggalAwalTujuan,#tanggalAkhirTujuan,#tanggalAwalPeforma,#tanggalAkhirPeforma,#tanggalAwalGeografis,#tanggalAkhirGeografis,#tanggalAwalPenagihan,#tanggalAkhirPenagihan").datepicker();
            });
            function onPhraseClicked(obj){
				//alert(obj.value);
				$("input[name=keywords\\[\\]]").removeAttr("checked");
				$("input[name=keywords\\[\\]]").attr("disabled","true");
            }
        </script>
		<script type="text/javascript">
        $(document).ready(function(){
            
            $(".accordion h3:first").addClass("active");
            $(".accordion p:not(:first)").hide();
        
            $(".accordion h3").click(function(){
                $(this).next("p").slideToggle("slow")
                .siblings("p:visible").slideUp("slow");
                $(this).toggleClass("active");
                $(this).siblings("h3").removeClass("active");
            });
        
        });
        </script>
        <style type="text/css">
            strong{ font-size:14px;}
            .term{
                -moz-border-radius:15px;
                -webkit-border-radius:15px;
                border-radius:15px;
                -moz-box-shadow:1px 0 5px #000;
                -webkit-box-shadow:1px 0 5px #000;
                box-shadow:1px 0 5px #000;
                padding:20px;
                background:#fff;
                text-align:left;
            }
            .accordion {
            width: 100%;
            border-bottom: solid 1px #cfdee6;
			clear:both;
            }
            .accordion h3 {
                background: #e3f0f3 url(images/arrow-square.gif) no-repeat right -44px;
                padding:12px 15px;
                margin: 0;
                font: bold 120%/100% Arial, Helvetica, sans-serif;
                border: solid 1px #cfdee6;
                border-bottom: none;
                cursor: pointer;
                color:#0099CC;
                text-shadow:0 1px 0 #fff;
            }
            .accordion h3:hover {
                background-color: #e1f5ff;
            }
            .accordion h3.active {
                background-position: right 11px;
            }
            .accordion p {
                background: #f7f7f7;
                margin: 0;
                padding:15px;
                border-left: solid 1px #cfdee6;
                border-right: solid 1px #cfdee6;
            }
            .accordion p span{
                display:block;
                background:url(images/arrow_blue_small.gif) no-repeat 0 7px;
                padding:0 0 10px 20px;
            }
            .accordion p strong{
                display:block;
                padding:15px 0 10px 0;
            }
            .list{
                list-style:none;
                margin:0 0 0 20px;
                padding:0;
            }
			.list li{
				margin:0 0 10px 0;
                background:url(images/arrow_blue_small.gif) no-repeat 0 7px;
                padding:0 0 10px 20px;
			}
        </style>
{/literal}
</head>
<body onload="init()">
{if $takeOut}<div class="cLabel"><a href="http://www.sitti.co.id/UtakAtik/index.html"></a></div>{/if}
<div class="wrapper">
  <div class="header"> <a class="logoZen" href="index.php">&nbsp;</a> <a class="sloganZen" href="index.php">&nbsp;</a> </div>
  {if $isLogin}
    <div class="navigationBarAllLogin">
			<div class="navigationRight">
                <ul class="menu navigation" id="menu">
                    <li><a href="profile.php">Profile Saya</a>
                    	<ul>
                            <li><a href="profile.php?modify=1">Ganti Profil</a>
    <!--                            <ul>
                                    <li><a href="profile.php?bank=1">Daftar Rekening Bank</a></li>
                                    <li><a href="profile.php?cc=1">Daftar Kartu Kredit</a></li>
                                </ul>-->
                            </li>
                            
                  			<!-- <li><a href="pembayaran.php">Pembayaran</a></li> -->
                  			<li><a href="javascript:;" onClick="onTab('#tab_mutasi');">Mutasi Rekening</a></li>
                  			
                        </ul>
                    </li>
                    <li><a href="beranda.php">Laporan</a></li>
                    <li><a href="download.php">Plugins</a></li>
                    <li><a target="_blank" href="http://sitti.zendesk.com/anonymous_requests/new">Kontak</a></li>
                </ul>
                <script type="text/javascript">var menu=new menu.dd("menu");menu.init("menu","menuhover");</script>
             <a class="btnKeluar" href="index.php?logout=1"></a>
             <a target="_blank" href="http://twitter.com/sittiID" class="twitterAtas" alt="http://twitter.com/sittiID"></a>
             <a target="_blank" href="http://www.facebook.com/SITTI.ID" class="fbAtas" alt="http://www.facebook.com/SITTI.ID"></a>
             </div>
            </div>
  {/if}
   {if $isLogin}
         <div class="topUserMenu">
         	<div class="topUserMenu-right">
         	
         	<div class="tum_info">
         	<span class="namaPemilik">Nama Pemilik Akun</span>
         	<span class="namaUser">{$info.name|strip_tags}</span>
         	<span class="namaUser">{$info.sittiID}</span>
         	</div>  	
         	<a class="tum_simulasi" href="faq.php"></a>
         	<a class="tum_buat" href="beranda.php?daftar=1"></a>
         	<a class="tum_kampanye" href="#"></a>
         	
         	</div>
         </div>
         {/if}   
  <div class="blockContent">
    <div class="content">
    	 <div class="colLeft" style="width:1000px;">
                	<h3 class="headTitle">Bantuan</h3>
                    		

<div class="accordion">
	<h3>Mengapa slot aktif 0, padahal saya sudah memasang script SITTI di website/blog saya</h3>

    	<p>
        	<span>Slot iklan SITTI akan aktif, apabila H-1 website/blog yang memuat script SITTI telah menampilkan iklan advertiser SITTI.</span>
            <span>Maksudnya apabila hari ini iklan advertiser SITTI sudah tampil di  website/blog Anda, dan ada yang mengakses website Anda, maka pada esok hari laporan slot aktif Anda akan berubah (tidak sama dengan nol).</span>
            
        </p>
	<h3>Tidak bisa log in</h3>
    	<p>
        	<span>Untuk berhasil log in, pastikan Anda telah memasukkan alamat email dan kata sandi dengan benar.</span>
        </p>
	<h3>Lupa password</h3>
	<p>
	<span>Apabila Anda lupa password, silahkan lakukan reset password</span>
    </p>
	<h3>Akun tidak aktif</h3>
	<p>
    <span>Setelah Anda mendaftar, SITTI akan mengirimkan email verifikasi ke alamat email yang Anda daftarkan. Lakukan verifikasi untuk mengaktifkan akun SITTI Anda.</span>
    </p>
    <h3>Reset password SITTIzen</h3>
    <p>
    <strong>Untuk mereset password SITTIzen, silahkan ikuti langkah-langkah berikut:</strong>
    <span>Masuk ke SITTIzen;</span>
    <span>Klik keterangan lupa kata sandi "klik di sini"</span>
    <span>Masukkan alamat email Anda;</span>
    <span>Masukkan re captcha, kemudian klik "masuk";</span>
    <span>SITTI akan mengirimkan email verifikasi ke alamat email yang Anda daftarkan, silahkan ikuti instruksi yang ada di dalam email untuk merubah password anda, kemudian klik "lanjut".</span>

    </p>
    <h3>Cara daftar menjadi publisher SITTI di SITTIzen</h3>
    <p>
    
    <strong>Untuk mendaftar sebagai publisher SITTI di SITTIzen, silahkan ikuti langkah-langkah berikut:</strong>
    <span>Masuk ke www.sitti.co.id;</span>
    <span>Klik SITTIzen;</span>
    <span>Klik "klik disini untuk mendaftar";</span>
    <span>Isi data-data Anda yang dibutuhkan, kemudian klik "kirim ke SITTI";</span>
    <span>SITTI akan mengirimkan email verifikasi ke alamat email yang Anda daftarkan;</span>
    <span>Lakukan verifikasi untuk mengaktifkan akun.</span>
    </p>
    <h3>Cara buat slot SITTI</h3>
    <p>
    
    <strong>Untuk membuat slot iklan, silahkan ikuti langkah-langkah berikut:</strong>
    <span>Log in ke SITTIzen;</span>
    <span>Klik “buat slot iklan”;</span>
    <span>Isi data-data yang diperlukan (masukkan situs blog Anda), dan di halaman ini Anda dapat mensetting blog Anda sesuai dengan keinginan Anda;</span>
    <span>Kemudian klik “selesai dan tampilan kode HTML”;</span>
    <span>Dan Anda telah berhasil membuat slot iklan, lalu klik “lanjut” untuk melanjutkan;</span>
    <span>Salin dan tempel kode HTML ke dalam situs Anda;</span>
    <span>Kemudian klik “selesai”;</span>
    
    </p>
    
    <h3>Cara pasang script SITTI</h3>
    <p>
    <strong>Untuk meletakkan script sitti pada blog Anda, bisa lihat panduannya di sini https://sittizen.sitti.co.id/download.php, atau Anda bisa mengikuti langkah-langkah berikut:
	</strong>
	<strong>Untuk memasang skrip SITTI pada blogger, silahkan ikuti langkah-langkah berikut:</strong>

    <span>Masuk ke control panel blogger Anda;</span>
	<span>Pilih tautan "tambah gadget"</span>
	<span>Pilih tautan "HTML/Javascript"</span>
	<span>Tempelkan script iklan SITTI pada bagian "konten"</span>
	<span>Simpan</span>
    <strong>Untuk memasang skrip SITTI pada wordpress, silahkan ikuti langkah-langkah berikut:</strong>
    <span>Unduh plugin wordpress di https://sittizen.sitti.co.id/downloads/sitti_wordpress_plugin_v01.zip
SITTI script tidak bisa digunakan di wordpress.com, hanya di engine wordpress yang di download dan di install ke server lain.</span>
    <span>Unggah plugin melalui panel kontrol Wordpress Anda</span>
    <span>Lakukan pengaturan plugin di menu "SITTI Ads" pada bagian bawah menu kiri panel kontrol</span>
    <span>Masukkan SITTI_ID dan pilih template iklan yang paling cocok untuk situs web Anda. Anda juga dapat mengatur tinggi dan lebar iklan sesuai dengan kebutuhan Anda.</span>
    <span>Pada bagian "widgets", letakkan plugin SITTI di salah satu posisi side bar</span>
    <span>Mengaktifkan plugin.</span>
    
    Kami informasikan bahwa saat ini script SITTI hanya bisa dipasang di wordpress yang berbayar (vip.wordpress.com) karena masalah lisensi.
	<br>
Lain halnya dengan blog, pada website pribadi untuk pemasangan script SITTI, Anda harus mempunyai pengetahuan sedikit tentang IT (tahu cara memasang script) atau Anda bisa minta bantuan kepada yang mengerti mengenai hal itu (admin website Anda).
    </p>
    <h3>SITTI itu apa, dan jelaskan ttg SITTI359 dan SITTIzen</h3>
    <p>
	<strong>SITTI merupakan platform iklan kontekstual berbahasa Indonesia.</strong>
	<strong>Ada 2 (dua) macam bentuk kerjasama dengan SITTI.</strong>
    <span>Pertama, bergabung sebagai advertiser SITTI di SITTI359.
    <br>
	Di sini Anda bisa beriklan sesuai dengan kata kunci yang Anda pilih. Dimana kata kunci berperan sebagai penghubung antara iklan Anda dengan situs publisher SITTI yang akan menayangkan iklan Anda. Mesin SITTI akan secara otomatis membaca kata kunci yang Anda pilih, dan akan menampilkan iklan Anda pada publisher SITTI yang isi konten pada situsnya sesuai dengan kata kunci iklan.
    </span>
    <span>Kedua, bergabung sebagai publisher SITTI di SITTIzen.<br>
    Di sini Anda bisa menayangkan iklan SITTI pada halaman situs (website/blog) Anda, dengan cara memasang/menempelkan script SITTI pada website/blog Anda. Keuntungan menjadi publisher SITTI adalah Anda bisa mendapatkan penghasilan dari setiap klik pada iklan yang tampil di website/blog Anda.
    </span>
    </p>
    <h3>Cara mendapatkan penghasilan dari SITTI</h3>
     <p>
	<span>Dengan menempelkan script SITTI pada website/blog Anda, Anda bisa mendapatkan penghasilan dari setiap klik pada iklan SITTI yang tampil di website/blog Anda.</span>
    
   </p> 
    <h3>Kapan Publisher di bayar?</h3>
<p>
    <span>SITTI melakukan pembayaran kepada para publisher setelah saldo mencapai Rp 100.000, dan pembayaran dilakukan 60 hari setelah proses perhitungan oleh pihak SITTI.</span> 
    <span>Anda bisa lihat informasi lebih detail mengenai pembayaran di Syarat dan Ketentuan SITTI pada poin 11.</span> 
    
    </p>
    <h3>Berapa harga untuk 1 klik iklan yang ditawarkan SITTI untuk publishernya, Apakah tergantung iklannya atau tergantung target lokasinya?</h3>
<p>
    <span>Pada dasarnya, nilai CPC (cost per click) minimal adalah Rp 600.</span>
    <span>Namun demikian, untuk kata kunci tertentu ada juga yang nilai CPCnya lebih dari Rp 600, hal ini dapat dipengaruhi oleh beberapa hal,diantaranya adalah tingkat popularitas kata kunci tersebut.</span>
    <span>Sharing revenue dari Nilai CPC, 40 % untuk SITTI dan 60 % untuk publisher, dan belum dipotong PPh.</span>
    
    </p>
    <h3>Bisakah SITTI di pasang pada aplikasi joomla</h3>
	<p>
    <span>Saat ini iklan SITTI belum bisa dipasang pada aplikasi joomla.</span>
    </p>
    <h3>Bagaimana cara pasang script SITTI di multiply</h3>
	<p>
    <span>Untuk saat ini belum ada fasilitas pengguna multiply untuk meletakkan script SITTI. Iklan SITTI yang selama ini tayang di Multiply, karena kerjasama SITTI dengan Multiply itu sendiri.</span>
    </p>
    <h3>Pemasangan iklan melayang</h3>
	<p>
    <span>Boleh saja Anda memasang iklan melayang, tetapi kami tidak menyarankan. Slot SITTI akan lebih efektif jika diletakkan langsung di halaman yang berisi artikel.</span>
    </p>
    <h3>Iklan belum muncul</h3>
	<p>
    <span>Iklan SITTI tidak muncul pada website/blog Anda, biasanya dikarenakan belum ada iklan SITTI yang kata kuncinya sesuai dengan kata kunci pada halaman konten website Anda.</span>
    <span>Mesin SITTI akan secara otomatis menampilkan iklan SITTI pada website Anda, apabila sudah ada iklan SITTI yang kata kuncinya sesuai dengan kata kunci pada halaman konten website Anda.
</span>
	<span>Sebagai referensi bahwa slot iklan sitti (termasuk di dalamnya proses indexing) akan lebih efektif berjalan pada halaman blog/website dengan 1 artikel, dan kami sangat tidak menyarankan slot iklan sitti diletakkan pada pop up ads.</span>
    </p>
    <h3>Kenapa iklan yang tampil di blog/website saya isinya keterangan untuk beriklan di SITTI…? "ingin iklan Anda disini"</h3>
	<p>
    <span>Keterangan "ingin iklan Anda disini" merupakan iklan default SITTI, yang akan selalu muncul apabila belum ada iklan advertiser SITTI yang kata kuncinya sesuai dengan kata kunci pada halaman website/blog Anda.</span>
    <span>Apabila sudah ada iklan SITTI yang kata kuncinya sesuai dengan kata kunci pada halaman blog Anda, maka mesin SITTI akan secara otomatis menampilkan iklan tersebut di website Anda. </span>
    </p>
    <h3>Tidak bisa pasang slot SITTI di wordpress.com</h3>
	<p>
    <span>Apabila Anda menggunakan wordpress yang tidak berbayar, Anda tidak dapat menginstall plugin SITTI. Saat ini SITTI hanya bisa dipasang di wordpress yang berbayar karena masalah lisensi.</span>
    </p>
    <h3>Plugin error setelah memasang scrip SITTI,
muncul keterangan:
Fatal error: Cannot redeclare my_plugin_menu() (previously
declared in
/home/tronggsg/public_html/teronggosong.com/wp-content/plugins/buddypress-share-it/admin.php:7)
in /home/tronggsg/public_html/teronggosong.com/wp-content/plugins/sitti_wordpress_plugin_v02/sitti_plugin.php on line 194 </h3>
	<p>
    <span>Di bagian server (tempat menyimpan script-script wordpress yang anda hostingkan), silahkan Anda lakukan hapus folder sitti_wordpress_plugin di folder wp-content > plugins.</span>
    <span>Untuk memasang kembali script SITTI pada blog Anda, silahkan Anda lakukan pembuatan slot iklan baru di akun SITTIZen anda, copy script HTMLnya. Kemudian letakkan script tersebut di bagian widget/text widget di wordpress admin Anda.</span>
    </p>
    <h3>Bagaimana cara menampilkan iklan sitti di wordpress yang berbayar? apakah bisa dicopy paste langsung kode nya, atau harus pake plug in? sedangkan plug in di wordpress berbayar saya sudah terlalu banyak. jadi untuk meminimalisirnya saya ingin kode nya saja yang langsung di copas ke text html di wp saya?
apakah tetap berfungsi sebagaimana biasa atau tidak?</h3>
	<p>
    <span>Silahkan buat slot iklan baru di akun SITTIZen anda dan copy script HTMLnya. Kemudian letakkan script tersebut di bagian widget/text widget di wordpress admin Anda.</span>
    </p>
    <h3>Apa itu iklan banner</h3>
	<p>
    <span>Contextual banner adalah iklan berbentuk gambar, yang akan tayang secara kontekstual sesuai dengan konten artikel. Secara sistem, hampir sama dengan iklan teks.</span>
    <span>Berbeda dengan contextual ad yang akan menghasilkan manfaat bagi publisher apabila iklan diklik, perhitungan contextual banner adalah berdasarkan impresi (CPM=cost per thousand).</span>
    <span>Artinya, publisher akan mendapatkan penghasilan dari iklan banner kontekstual ini bukan dari klik, tapi dari penayangan (impression). </span>
    </p>
</div>
	<br />
<br />	<p>
	Untuk bantuan lebih lanjut, silahkan email kami di <a class="f12" href="mailto:support@sitti.co.id">support@sitti.co.id</a>
   
</p>
                </div>
            
      <div class="bottomContent"></div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="wrapper">
        <ul class="navFoot">
                <li><a href="term.html" target="_blank"> Syarat dan Ketentuan</a>|</li>
                <li><a href="tentang-sitti.php">Tentang SITTI</a>|</li>
                <li><a href="http://359.sitti.co.id/" target="_blank"> Beriklan di SITTI</a>|</li>
      			<li><a href="tentang-sittizen.php">SITTIZEN</a>|</li>
      			<li><a target="_blank" href="http://blog.belajarsitti.com/">Blog</a>|</li>
       			<li><a href="career.php">Karir</a>|</li>
                <li><a href="http://sitti.zendesk.com/anonymous_requests/new" target="_blank">Kontak Kami</a></li>
        </ul>
        <p class="copyRight">
            Email: beriklan@sitti.zendesk.com<br />
            © 2010 SITTI
        </p>
  </div>
</div>
	{literal}
	<script type="text/javascript">

			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-16501037-1']);
			  _gaq.push(['_setDomainName', 'sitti.co.id']);
			  _gaq.push(['_trackPageview']);
			
			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga, s);
			  })();

	</script>	
	{/literal}
</body>
</html>