<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>SITTI - Platform Iklan Kontekstual Berbahasa Indonesia, Iklan Kontekstual, Bahasa Indonesia</title>
<link rel="shortcut icon" href="images/favicon.ico">
<link rel="icon" type="image/gif" href="images/animated_favicon.gif">
<link href="css/sitti.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/iepngfix_tilebg.js"></script>
<script type="text/javascript" src="js/drop_table.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="css/passwordStrengthMeter.css" />
</head>

<body onload="init()">
	<div class="wrapper">
    	<div class="headerZen">
        	<a class="logoZen" href="index.php">&nbsp;</a>
            <a class="sloganZen" href="index.php">&nbsp;</a>
        </div>
	<div class="bodyZen">
    	<div class="borderLeftzen">
        </div>
        <div class="contentZen">
        	<div class="contentZenText" style="padding:10px 10px 0 20px;">
            	<p><strong>Be A Referral for {$publisher_id}</strong></p>
                
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed at orci in enim malesuada adipiscing porta in ante. Sed felis est, fringilla at viverra sit amet, semper non ante. Proin arcu metus, condimentum vel feugiat sit amet, sodales sit amet elit. Vivamus facilisis justo sed sapien iaculis euismod. Nullam et dui vel neque malesuada tempor vitae et nibh. Donec ultricies vehicula mattis. Mauris fermentum ante id dui iaculis at lacinia tellus congue. Nam faucibus tristique porta. Morbi id dui nec eros aliquet blandit. Vestibulum fermentum elit quis felis consequat laoreet vel vel metus. Nam eu vulputate quam. Suspendisse faucibus justo sit amet tellus tincidunt vitae faucibus leo placerat. Pellentesque placerat lorem nibh, tincidunt imperdiet purus. Integer imperdiet mattis lacinia.</p>

                <p>Aliquam congue ante vitae nulla consectetur id tristique purus scelerisque. Nulla tempor placerat urna in fermentum. Integer turpis metus, euismod sed tempus quis, vulputate at massa. Quisque commodo pulvinar nisl, eget dictum est malesuada quis. Ut ac lacus nunc, sit amet facilisis purus. Praesent aliquam, mi nec mollis ultricies, lorem nisi feugiat massa, sed mattis massa est sed enim. Quisque auctor scelerisque massa, et posuere mauris accumsan nec. Sed egestas, turpis non porttitor fermentum, leo sapien dignissim massa, vel consectetur leo diam a quam. Sed luctus ultricies est vel convallis. Sed ac est vel arcu sodales placerat. Nunc in lectus odio, a blandit arcu.</p>
      
                <form method="post" action="daftar.php">
                    <input type="hidden" name="referral" value="{$publisher_referral}" />
                    <input type="submit" style="margin:0;" value="Be a SITTI Publisher" class="submitZen">
                </form>

            </div>
        </div>
        <div class="borderRightzen">
        </div>
    </div>
    </div>
	<div class="footer">
        <div class="wrapper">
            <ul class="navFoot">
                <li><a href="term.html" target="_blank"> Syarat dan Ketentuan</a>|</li>
                <li><a href="http://sittibelajar.com" target="_blank"> Beriklan di SITTI</a>|</li>
                <li><a href="http://sitti.zendesk.com/anonymous_requests/new" target="_blank">Kontak Kami</a></li>
            </ul>
            <p class="copyRight">
                Email: beriklan@sitti.zendesk.com<br />
                © 2010 SITTI
            </p>
        </div>
    </div>
    
	{literal}
	<script type="text/javascript">

			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-16501037-1']);
			  _gaq.push(['_setDomainName', 'sitti.co.id']);
			  _gaq.push(['_trackPageview']);
			
			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga, s);
			  })();

	</script>	
	{/literal}
</body>
</html>
