<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/style2.css" rel="stylesheet" type="text/css" />
<title>Seo_Peraturan</title>
</head>

<body>
<div id="page">
	<div id="header">
		<div id="menu_wrapper">
			<ul id="menu">
			<li><a href="index.php">Home</a></li>
<li><a href="peraturan.php">Peraturan dan Ketentuan</a></li>
<li><a href="hadiah.php">Hadiah</a></li>
<li><a href="daftar.php">Daftar Peserta</a></li>
<li><a href="logo.php">Logo Kontes</a></li>
			</ul>
		</div>
	</div>
    <div id="content_seo">

	</div>
    <div id="contentinf">
    	<div id="inf">
	</div>
	</div>
    <div id="content2">
		<div id="rounded">
			<div class="head_round">
			</div>
			<div class="mid_cont">
            	<div id="con_rule">
                <h2>Peraturan & Ketentuan</h2>
                <h4>SYARAT & KETENTUAN KONTES SEO SITTI:</h4>
                <ol>
					<li>Kontes SEO SITTI akan dimulai pada tanggal<strong> 3 Mei 2012</strong> Pukul 00.00 WIB</li>
					<li>Kontes SEO SITTI akan berakhir pada tanggal <strong>31 Agustus 2012 </strong>Pukul 23.59 WIB.</li>
					<li>Pemenang Kontes SEO SITTI akan diumumkan pada tanggal <strong>10 September 2012</strong>.</li>
					<li>Dalam pelaksanaan Kontes SEO SITTI, tidak diperbolehkan adanya unsur pornografi, diskriminasi, atau tindakan yang melanggar hukum, baik hukum di Indonesia maupun hukum Internasional.</li>
					<li>Target keyword Kontes SEO SITTI adalah: <strong>"Iklan Internet Murah Efektif Berkualitas Indonesia" </strong>dan seluruh peserta diwajibkan untuk membuat link balik (anchor link) ke http://www.sitti.co.id <a href="http://www.sitti.co.id"> situs iklan terbaik </a></li>
					<li>Setiap peserta Kontes SEO SITTI harus menambahkan logo SITTI dalam blog/situs yang diikutsertakan.</li>
					<li>Kontes SEO SITTI menggunakan bahasa Indonesia sebagai relevansi konten.</li>
					<li>Peserta diwajibkan untuk membuat konten berbahasa Indonesia yang mudah dipahami dan sesuai dengan target keyword <br />(poin 5). </li>
					<li>Peserta harus berdomisili di wilayah Indonesia.</li>
					<li>Hanya peserta yang terdaftar yang dapat bersaing dan memenangkan hadiah yang disediakan oleh panitia.</li>
					<li>Pendaftaran tidak dipungut biaya dan terbuka untuk siapa saja tanpa batasan umur.</li>
					<li class="red">Pendaftar/calon peserta wajib mengisi kolom kode pos di formulir pendaftaran.</li>
					<li>Setiap  halaman situs peserta harus memiliki link balik (backlink) ke http://www.sitti.co.id</li>
					<li>Peserta boleh mendaftarkan lebih dari satu domain dengan syarat identitas yang didaftarkan harus sama (nama, email, dan alamat). </li>
					<li>Setiap satu orang peserta hanya diperbolehkan memenangkan satu kategori hadiah</li>
					<li>Umur domain<strong> maksimal 2 tahun.</strong></li>
					<li>Informasi kontak yang valid harus ada pada situs yang diikutsertakan di Kontes SEO SITTI. </li>
					<li>Peserta diperbolehkan menggunakan domain yang telah ada sebelumnya, namun halaman/URL entry yang disubmit harus benar-benar baru, tanpa back link dan versi cache sebelumnya.</li>
					<li><strong>Tidak menggunakan domain dan subdomain dengan target keyword yang di lombakan (tidak menjadikan 6 frase keyword yang dilombakan sebagai domain atau subdomain).</strong></li>
					<li>Peraturan dapat berubah sewaktu-waktu tanpa pemberitahuan sebelumnya kepada peserta. </li>
					<li>Pemenang ditentukan berdasarkan peringkat scoring di <strong>Google</strong> (GOOGLE.CO.ID) </li>
					<li>Bagi peserta yang mengirimkan data yang tidak dapat dihubungi akan dianggap hangus atau gagal. Mendaftarkan diri kembali karena pendaftaran sebelumnya yang tidak lengkap akan kami hapus.</li>
                    <li>Panitia akan memberikan peringatan pada peserta yang ditemukan melakukan copy-paste artikel. Dan apabila dalam waktu 48 jam peserta tidak merubah isi artikel maka keikutsertaan peserta akan di hapus dan dianggap gagal. </li>
										
				</ol>
                <h4>HAL-HAL YANG PERLU DIPERHATIKAN :</h4>
                <ol>
					<li>Perlu diingat bahwa pada saat perserta melakukan registrasi Kontes SEO SITTI, Anda harus memastikan bahwa entry URL yang Anda masukkan mengacu kepada halaman sebenarnya yang Anda submit untuk kontes. </li>
					<li>Pada saat registrasi, apabila terdapat kotak isian yang kosong atau URL entry tidak mengacu kepada spesifikasi yang seharusnya, maka entry akan dihapus..</li>
					<li>Selama kontes, kami akan memeriksa ulang halaman entry untuk melakukan verifikasi usia website dan backlink. Jika suatu entry website ditemukan lebih tua dari yang diperbolehkan atau tidak memasang backlink yang seharusnya (ditunjukkan dibawah ini), entry tersebut akan didiskualifikasi dari kontes, maka dari itu pastikan entry Anda sesuai dengan peraturan yang berlaku pada kontes.</li>
					<li>Pasang link -berupa link sitti.co.id- dan Logo -klik lebih jelasnya <a href="#">disini</a>.</li>
					<li>Hanya teknik-teknik SEO yang etis saja yang dapat digunakan dalam kontes ini, dan para juri berhak untuk meninjau kembali teknik-teknik yang digunakan oleh para pemenang, untuk memastikannya.</li>
					<li>5 poin tambahan akan langsung diberikan apabila situs anda menjadi top rank di keywords "<strong>iklan</strong>".</li>
					<li>300 peserta pertama yang memenuhi kualifikasi mendapatkan hadiah langsung.</li>
				</ol>
                 <h4>Hadiah:</h4>
                 <p>Pemenang Pertama:</p><p style="margin-left:40px;"> Uang tunai senilai Rp. 15.000.000</p>
                 <p>Pemenang Kedua:</p><p style="margin-left:40px;"  >Uang tunai senilai Rp. 7.000.000</p>
                 <p>Pemenang Ketiga:</p><p style="margin-left:40px;"> Uang tunai senilai Rp. 3.000.000</p>
                 <p>Goody Bag SITTI untuk 20 Artikel terbaik berdasarkan pilihan dewan juri. </p>
                <h2>Penilaian Pemenang :</h2>
                <h4>(a) Hadiah Top Rank</h4>
                <p>Pada tanggal  <strong>1 September  2012 (Jam 00.01 WIB)</strong>, kami akan melakukan pencarian untuk "kata kunci" di <strong>Google</strong> (GOOGLE.CO.ID) </p>
                <h4>(b) Hadiah Posting Favorit</h4>
                <p>Selain sistem nilai ini, kualitas kontent atau artikel juga diperhitungkan, dan ini merupakan hak prerogatif juri.</p>
                <p>Selain sistem nilai di atas,akan diberikan pula penghargaan untuk posting favorit. Penilaian berdasar dari kualitas posting dan komentar yang timbul dari pembaca atas posting yang ditulis maupun share yang dilakukan pembaca posting tersebut.</p>
                <h4>(c) Pajak Hadiah Ditanggung Pemenang</h4>
                
                <h2>Kriteria Kontes SEO SITTI:</h2>
                <h4>Peraturan:</h4>
                <ol>
					<li>Jumlah paragraf tiap artikel sebanyak 4 paragraf  (-/+ 1500 karakter), acuannya pada artikel di http://www.sitti.co.id.  (tidak dianjurkan untuk copy paste).</li>
					<li>Tulisan belum pernah dilombakan pada kegiatan serupa untuk merek atau produk lain.</li>
					<li>Penulisan menggunakan bahasa Indonesia yang baik dan benar.</li>
				</ol>
                <h4>Kategori (pilih salah satu):</h4>
                <ol>		
					<li>Teknis/Informasi (artikel bercerita tentang keunggulan Situs Iklan Terbaik).</li>
					<li>Gaya Hidup (artikel bercerita tentang pengalaman terbaik bersama Situs Iklan Terbaik).</li>
					<li>Berita/Analisa Berita  (artikel hasil kumpulan dari berita-berita).</li>
				</ol>
                <h4>Kriteria Penilaian:</h4>
                <ol>
					<li>Penilaian artikel ditentukan dari keterkaitan judul, akurasi data, tata bahasa, pengaruh dan keakuratan foto artikel.</li>
					<li>Respon pembaca dari posting artikel oleh pembaca dengan komentar maupun share ke social media.</li>
					<li>Setiap artikel yang dilombakan akan dibaca dan ditentukan pemenangnya oleh dewan juri.</li>
					<li>Dewan juri berhak mengganti kategori yang telah ditentukan peserta lomba.</li>
					<li>Dewan juri berhak mendiskualifikasi peserta apabila terdapat unsur-unsur kecurangan.</li>
				</ol>
                <h2>Tambahan :</h2>
                <p>Apabila Anda menemukan copy-paste artikel antar peserta, Anda dapat melaporkan ke panitia:</p>
                <p>email : seo@sitti.co.id<br>
					Judul Email : Lapor Copy Paste Perserta Kontes SEO SITTI.<br>
					kemudian isi email adalah link artikel itu sendiri (tanpa gambar dan link), dan url peserta lain yang Anda laporkan melakukan copy-paste.</p>
                    <p><strong>Juri penentu pemenang Kontes SEO SITTI yang paling utama adalah Google. Jadi, tunjukan kehebatanmu dalam berkompetisi memperebutkan juara Kontes SEO SITTI dengan menjadikan situsmu menjadi top rank di Google. </strong></p>
                    <p>
					
                </div>
			</div>
			<div class="bottom_round">
			</div>
		</div>
	</div>
	<div id="content2">
		<div id="rounded">
			<div class="head_round">
			</div>
			<div class="mid_cont">
            	<div class="col50">
                	<h5>Tentang</h5>
					<p>SITTI adalah platform iklan kontesktual online berbasis bahasa Indonesia . Membantu anda beriklan online secara mudah dan sesuai dengan anggaran anda di lebih dari 24 juta halaman situs online Indonesia .</p>
                </div>
                <div class="col25">
                	<h5>Hubungi Kami</h5>
					<p>Sekretariat Kontes SEO SITTI<br />Ghra Tirtadi, Jl Senopati 71-73<br />Kebayoran Baru, Jakarta Selatan<br /> <a href="seo@sitti.co.id">seo@sitti.co.id.</a></p>
                </div>
			</div>
			<div class="bottom_round">
			</div>
		</div>
	</div>
    <div id="footer">
    <p><strong>Copyright@2012 sitti.co.id | All Rights Reserved </strong></p>
    </div>
</div>
</body>
</html>
