
<div id="dashboardHead">
  <div id="webname">
    	<h1 style="margin-left:20px"><img src="images/sittizen_logo.png" /></h1>
        <h1><img src="images/sitti359_logo.png" /></h1>
  </div>
<!--  <div id="weblogo"> <a href="#"><img src="images/logoklien.gif" /></a> </div>-->
</div>
<div id="dashboardHead" style="height:80px;">
<a class="DaftarAdvertiser" href="?s=advertiser">Daftar Advertiser</a>
<a class="DaftarPublisher" href="?s=publisher&list=1">Daftar Publisher</a>
<a class="DaftarIklan" href="?s=sitti&r=list">Daftar Iklan Tayang</a>
<a class="DaftarIklanPending" href="?s=sitti">Daftar Iklan Pending</a>
<a class="KeywordCTR" href="?s=report2&r=keyword_ctr">Keyword CTR</a>
<a class="TopAdvertisers" href="?s=report2&r=top100_advertisers">Top Advertisers</a>
<a class="TopPublishers" href="?s=report2&r=top100_publishers">Top Publishers</a>
<a class="StatistikIklan" href="?s=report2&r=ad_daily">Statistik Iklan</a>
</div>
{$DASHBOARD_CONTENT}
<div id="iconDash">
<!--    <a class="newArticleBig" href="?s=article">Create New Article</a>-->
    <!--<a class="manageUser" href="?s=admin">Administrative Settings</a>    -->
<!--    <a class="showPages " href="?s=page">Show Pages</a>
    <a class="downloadManual" href="#">Download User Manual</a>
    <a class="contactSupport" href="#">Contact Support</a>-->
</div>
</div>